<!--<div class="gallery">
<div class="get-center">-->
  <!--<div class="fly display-inline">
      <img src="img/sec5/butterfly.png" alt="" class="img-responsive">
  </div>
  <h3 class="text-uppercase font-dkcat display-inline">Gallery</h3>
  <div class="container">
    <div class="slider">
    <flex-slider class="text-center" flex-slide="item in gallery track by $index" animation="slide" animationloop="true" item-width="280px" control-nav="false" mousewheel="true" item-margin="10px">
        <li>
            <div class="gallery-sec">
                <div class="img-sec">
                    <div class="curve-holder" ng-style="{'background':'url('+item.image+')'}">
                        <div class="plus">
                            <span>+</span>
                        </div>
                    </div>
                    <!-- <a href=""><img ng-src="{{item.image}}" alt="" class="img-responsive"></a> -->
                </div>
                <div class="text-center">
                    <div class="name-btn">
                        <h4>{{item.name}}</h4>
                    </div>
                </div>
            </div>
        </li>
        </flexi-slider>
    </div>
  </div>-->


  <div class="gallery gallery-page">
<div class="get-center wd100">
      <div class="coming-soon">
        <div class="container">
               <div class="bfly display-inline">
                <img src="img/gallery/butterfly.png" alt="" class="img-responsive display-inline">
                <h3 class="text-uppercase font-dkcat text-left sub-head display-inline">Gallery</h3>
            </div>
            <div class="pos-set2">
                <img src="img/gallery/coming-soon.png" alt="" class="img-responsive">
            </div>
          <div class="coming-sec">
              <p class="text-center font-hind-regular">
                Our little weavers are a little busy developing the pictures.
            </p>
            <p class="text-center font-hind-regular">
                  Come back soon!
            </p>
          </div>
        </div>
    </div>
</div>
</div>