<div class="programmes">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h3 class="text-uppercase">Programmes</h3>
      <p class="text-justify">We here at the Weavers Playschool will guide your child through all their formative years.From being a little toddler to a grown up in Senior Kindergarten we aim to instill the pursuit for knowledge and learning, values and morals and create a well-grounded and emotionally independent individual through our specialized programs.</p>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <div class="row">
        <div class="col-md-6"><img src="img/sec3/mothertoddler.png" alt="" class="img-responsive"></div>
        <div class="col-md-6"><img src="img/sec3/pre-nursery.png" alt="" class="img-responsive"></div>
      </div>
      <div class="row">
        <div class="col-md-6"><img src="img/sec3/nursery.png" alt="" class="img-responsive"></div>
        <div class="col-md-6"><img src="img/sec3/daycare.png" alt="" class="img-responsive"></div>
      </div>
    </div>
  </div>
</div>
