<div class="contact">
  <div class="bird6">
    <div class="bird-tel">
      <img src="img/sec6/birdtel.png" alt="" class="img-responsive">
    </div>
    <div class="brd-msg">
      <img src="img/sec6/birdmsg.png" alt="" class="img-responsive">
    </div>
  </div>
  <div class="contact-sec">
    <h3 class="text-uppercase">contact us</h3>
    <span><i class="fa fa-phone" aria-hidden="true"></i> +91 9920 292187</span>
    <span><i class="fa fa-envelope" aria-hidden="true"></i> info@weaverspreschool.com</span>
    <span><i class="fa fa-globe" aria-hidden="true"></i> www.theweaverspreschool.com</span>
    <span><i class="fa fa-map-marker" aria-hidden="true"></i> The Weavers Preschool,
Bhakti Marg, Opposite Balrajeshwar Temple,
Mulund (West) - Mumbai 400080. </span>
  </div>
</div>
