<div class="environment">
  <div class="camera-sec">
      <img src="img/sec4/record.png" alt="" class="img-responsive">
  </div>
    <div class="container">
    <div class="row pdt110">
<div class="bird-slider">
  <div>
    <div class="enviornment-sec">
                    <h3 class="text-upppercase font-dkcat">Environment</h3>
                    <p class="text-justify font-hind-regular font-regular">At The Weavers Preschool, children are provided with a warm and inviting environment to help them feel comfortable and secure.  We have prepared a variety of learning activities to encourage children to explore and participate in meaningful play experiences.</p>
                    <button type="button" class="btn btn-default pull-right know-more font-dkcat" ui-sref="ourapproach">know more</button>
                </div>
  </div>

    <div class="img-sec">
                <div class="main-slide">
                    <img src="img/sec4/slide.png" alt="" class="img-responsive h80">
                    <!-- <div class="bird-set">
                        <div class="bird-show1">
                            <img src="img/sec4/bird1.png" alt="" class="img-responsive">
                        </div>
                        <div class="bird-show2">
                            <img src="img/sec4/bird2.png" alt="" class="img-responsive">
                        </div>
                    </div> -->
                </div>
            </div>
</div>

        </div>
    </div>
</div>
