<!--</div>
                <div class="text-center">
                    <div class="name-btn">
                        <h4>{{item.name}}</h4>
                    </div>
                </div>
            </div>
        </li>
        </flexi-slider>
    </div>
  </div>-->
<div class="gallery gallery-page">
    <div class="get-center wd100">
        <div class="coming-soon">
            <div class="container">
                <div class="bfly display-inline">
                    <img src="img/gallery/butterfly.png" alt="" class="img-responsive display-inline">
                    <h3 class="text-uppercase font-dkcat text-left sub-head display-inline">Gallery</h3>
                </div>
                <div class="pos-set2">
                    <img src="img/gallery/coming-soon.png" alt="" class="img-responsive">
                </div>
                <div class="coming-sec">
                    <p class="text-center font-hind-regular">
                        Our little weavers are a little busy developing the pictures.
                    </p>
                    <p class="text-center font-hind-regular">
                        Come back soon!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>