<div class="environment">
  <div class="camera-sec">
      <img src="img/sec4/record.png" alt="" class="img-responsive">
  </div>
    <div class="container">
    <div class="row pdt110">
            <div class="col-md-6">
                <div class="enviornment-sec">
                    <h3 class="text-upppercase font-dkcat">Environment</h3>
                    <p class="text-justify font-hind-regular font-regular">It is believed that our environment is the third teacher - and at The Weavers Preschool we subscribe to this thought. Our interiors are planned in a very child friendly and ergonomic way. From minor details within the bathroom, right
                        to the smallest element of the classroom, each of them have been created or selected keeping children and thier convenience in mind</p>
                    <button type="button" class="btn btn-default pull-right know-more font-dkcat" ui-sref="environment">know more</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-sec">
                    <div class="main-slide">
                        <img src="img/sec4/slide.png" alt="" class="img-responsive">
                        <div class="bird-set">
                            <div class="bird-show1">
                                <img src="img/sec4/bird1.png" alt="" class="img-responsive">
                            </div>
                            <div class="bird-show2">
                                <img src="img/sec4/bird2.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
