<div class="story">
    <div class="birdset2">
        <img src="img/sec2/branchbird.png" alt="" class="img-responsive">
        <div class="story1 font-dkcat">
            <p>there are two gifts</p>
            <p>we should give our children</p>
            <p>one is roots</p>
            <p>the other is wings</p>
        </div>
    </div>
    <div class="content-sec">
        <!-- <div class="story1 font-dkcat">
            <p>there are two gifts</p>
            <p>we should give our children</p>
            <p>one is roots</p>
            <p>the other is wings</p>
        </div> -->
        <div class="story2">
            <h3 class="text-uppercase font-dkcat">About Us</h3>
            <p class="text-justify font-hind-regular font-regular">I moved from Chandigarh to Mumbai a few years ago. While I love all that the city has to offer, one thing it sorely lacks is a sense of space.</p>
                <button type="button" class="btn btn-default pull-right know-more font-dkcat" ui-sref="aboutus">know more</button>
        </div>
    </div>
</div>
