<div class="programmes h100">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <div class="prgm-dcrpt">
            <div class="h100">
            <div class="programmes-sec">
                <h3 class="text-uppercase font-dkcat">Programmes</h3>
                <p class="text-justify font-hind-regular font-regular">We here at The Weavers Preschool will guide your child through all their formative years. From being a little toddler to a grown up at Nursery, we aim to instil the pursuit of knowledge, learning, values and morals to create a well-grounded and emotionally independent individual through our specialized programmes. </p>
            </div>
            </div>
            </div>
        </div>
        <div class="col-md-5 parts">
            <div class="h100">
            <div class="get-center wd100">
                <div class="row">
                    <div class="col-md-5 col-sm-offset-2 col-sm-4 col-xs-6">
                        <div class="mt_holder text-center" ui-sref="ourprogrammes">
                            <img src="img/sec3/mothertoddler_hold.png" alt="" class="img-responsive back-width">
                            <div class="parts-sec">
                                <img src="img/sec3/mothertoddler.png" alt="" class="img-responsive img1-sec3">
                            </div>
                              <span>Mother Toddler</span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-6">
                    <div class="mt_holder text-center" ui-sref="ourprogrammes">
                      <img src="img/sec3/pre-nursery_hold.png" alt="" class="img-responsive back-width">
                          <div class="parts-sec2">
                          <img src="img/sec3/pre-nursery.png" alt="" class="img-responsive img2-sec3">
                      </div>
                      <span>Pre-Nursery</span>
                    </div>
                    </div>
                </div>
                <div class="row mgt50">
                    <div class="col-md-5 col-sm-offset-2 col-sm-4 col-xs-6">
                      <div class="mt_holder text-center" ui-sref="ourprogrammes">
                            <img src="img/sec3/nursery_hold.png" alt="" class="img-responsive back-width">
                          <div class="parts-sec3">
                            <img src="img/sec3/nursery.png" alt="" class="img-responsive">
                        </div>
                            <span>Nursery</span>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-6">
                      <div class="mt_holder text-center" ui-sref="ourprogrammes">
                            <img src="img/sec3/daycare_hold.png" alt="" class="img-responsive back-width">
                          <div class="parts-sec4">
                            <img src="img/sec3/daycare.png" alt="" class="img-responsive img2-sec4">
                      </div>
                      <span>Day Care</span>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
