<div class="gallery">
    <div class="fly">
        <img src="img/sec5/butterfly.png" alt="" class="img-responsive">
    </div>
    <h3 class="text-uppercase">Gallery</h3>
    <div class="slider">
        <flex-slider flex-slide="item in gallery track by $index" animation="slide" animationloop="true" item-width="320px" item-margin="30px">
            <li>
                <div class="gallery-sec">
                    <a href=""><img ng-src="{{item.image}}" alt="" class="img-responsive"></a>
                    <div class="text-center">
                        <div class="name-btn">
                          <h4>{{item.name}}</h4>
                        </div>
                    </div>
                </div>
            </li>
            </flexi-slider>
    </div>
</div>
