<div class="story">
    <div class="birdset2">
        <img src="img/sec2/branchbird.png" alt="" class="img-responsive">
        <div class="story1 font-dkcat">
            <p>there are two gifts</p>
            <p>we should give our children</p>
            <p>one is roots</p>
            <p>the other is wings</p>
        </div>
    </div>
    <div class="content-sec">
        <!-- <div class="story1 font-dkcat">
            <p>there are two gifts</p>
            <p>we should give our children</p>
            <p>one is roots</p>
            <p>the other is wings</p>
        </div> -->
        <div class="story2">
            <h3 class="text-uppercase font-dkcat">About Us</h3>
            <p class="text-justify font-hind-regular font-regular">I moved to Mumbai from Chandigarh a few years ago. You fall in love with the city, it's opportunities and life style conditions, but somewhere along the way space gets compromised. As grown-ups we can squeeze through these tight spaces without
                it affecting us much. However, for a child to grow up in a boxed up spaces can limit their thinking and imagination capacity. In my opinion, no playground is big enough for a child. No space is space enough for them to grow and learn.
                I believe that there is no greated lesson than the ones you learn outdoors</p>
                <button type="button" class="btn btn-default pull-right know-more font-dkcat" ui-sref="aboutus">know more</button>
        </div>
    </div>
</div>
