@media (min-width: 1200px) {
    // .lake {
    //     bottom: -157px;
    // }
    .blackflie {
        top: 42px;
        right: 68px;
        z-index: 99;
    }
    // .prog-bir3 img {
    //     width: 500px;
    // }
    .prog-bir1 img {
        width: 670px;
    }
    .prog-bir3 img {
        width: 320px;
    }
    // .prog-bir2 img {
    //     width: 860px;
    // }
    .prog-bir2 img {
        width: 690px;
    }
}

@media (max-width: 1200px) {
    //gallery
    // .butterflie {
    //     top: 333px;
    //     left: 0;
    //     img {
    //         width: 68%;
    //     }
    // }
    .blackflie{
      top: 100px;
      img{
        width: 75px;
      }
    }
    .coming-soon{
    .butterflie1 {
      img {
          width: 110px;
      }
    }
    }

    .coming-soon .circle-gallery {
        width: 820px;
        margin: 0 auto;
    }
    .butterflie {
        top: -32%;
        left: -2%;
        img {
            width: 68%;
        }
    }
    .pdt180 {
        padding-top: 90px;
    }
    .ourprogrammes-page1 {
        position: relative;
    }
    .prog-bir1 img {
        width: 450px;
    }
    .prog-bir2 img {
        width: 550px;
    }
    .prog-bir3 img {
        width: 242px;
    }
    .ourprogrammes-page3 {
        position: relative;
    }
    .option-desc2 {
        height: auto;
    }
    .bird2-team img {
        width: 180px;
    }
    .menu {
        img {
            width: 100px;
        }
        li {
            margin: 20px 8px 0;
        }
    }
    .nav>li>a {
        padding: 10px 2px;
    }
    .birdset2 img {
        width: 70%;
    }
    .bird1-team img {
        width: 500px;
    }
    .bird4-team img {
        width: 400px;
    }
    .option-desc1 {
        height: auto;
    }
    .book-bird img {
        width: 150px;
    }
    .ourstory-page2 .ourstory-bir2 img {
        width: 190px;
    }
    .ourstory-page3 .ourmission-bir3 img {
        width: 300px;
    }
    .ourstory-page3 .ourmission-bir3 {
        bottom: -98px;
        right: -110px;
    }
    .ourstory-bir4 img {
        width: 150px;
    }
    .ourstory-page1 {
        min-height: 730px;
    }
    // .lake {
    //     bottom: -180px;
    // }
    .book-bird {
        bottom: -50px;
    }
    .bird-write img {
        width: 500px;
    }
    .environment-page .flower img {
        width: 150px;
    }
    .environ-desc li {
        margin-bottom: 12px;
        margin: 10px 0px 0;
    }
    .story2 {
        background-color: #f4efcf;
        padding: 45px 22px;
        border-radius: 100px;
        position: absolute;
        top: 28%;
        left: 52%;
        width: 44%;
        p {
            line-height: 200%;
            font-size: 15px;
            margin: 0px 16px 0;
        }
    }
    .story1 {
        left: 15%;
    }
    .programmes-sec {
        border-radius: 100px;
        width: 90%;
    }
    .environment .enviornment-sec {
        border-radius: 100px;
        left: 0%;
        padding: 30px 54px;
    }
    .main-slide {
        position: absolute;
        right: -50px;
        bottom: 10px;
        .h80 {
            height: 65vh;
        }
    }
    .cont-width {
        width: 900px;
    }
    .prog-bir1-2 img {
        width: 85px;
    }
    .option-desc {
        height: auto;
        min-height: 440px;
    }
}

//------ <992 -------------
@media (max-width: $screen-sm-max) {
    //gallery

    .coming-soon .circle-gallery {
        width: 550px;
        margin: 0 auto;
    }
    .butterflie {
        top: -34%;
        left: -2%;
        img {
            width: 68%;
        }
    }
    .contact-sec1 {
        width: 62%;
        bottom: -88px;
    }
    .book-bird {
        right: -34px;
        bottom: 0;
    }
    .bird1-team img {
        width: 400px;
    }
    .ourstory-page3 .ourmission-bir3 img {
        width: 250px;
    }
    .bird3-team {
        right: 0;
    }
    .bird-tel {
        width: 100%;
        img {
            width: 50%;
            margin: 0 auto;
        }
    }
    .brdcontact {
        right: 0;
    }
    .bird2-team img {
        width: 100px;
    }
    .bird-write img {
        width: 400px;
    }
    .ourstory-page2 .ourstory-bir2 {
        bottom: 0;
        right: -64px;
        img{
          width: 170px;
        }
    }
    .baloon-bird{
      position: absolute;
      bottom: 0;
      right: 0;
      img{
        width: 230px;
      }
    }
    .ourstory-page3 .ourmission-bir3 {
        right: -55px;
    }
    .ourstory-bir4 img {
        position: absolute;
        right: 30px;
    }
    .prog-bir2 img {
        width: 600px;
    }
    .ourprogrammes-page2 {
        position: relative;
    }
    .ourprogrammes-page4 {
        position: relative;
    }
    .prog-bir4 img {
        width: 275px;
    }
    .ourprogrammes-page3 {
        position: relative;
    }
    .prog-bir3 img {
        width: 212px;
    }
    .lake {
        bottom: 0;
    }
    .book-bird {
        right: -34px;
        bottom: 0px;
    }
    // .about-inside {
    //     min-height: 710px;
    // }
    // .book-bird {
    //     bottom: -12px;
    //     right: -34px;
    // }
    .book-bird img {
        width: 120px;
    }
    .lake img {
        height: 80px;
    }
    .social {
        margin-right: -25px;
        a {
            .fa {
                margin-right: 2px;
            }
        }
    }
    .nav>li>a {
        padding: 10px 2px;
    }
    .menu li {
        margin: 20px 4px 0;
    }
    .programmes-sec {
        margin-top: 60px;
    }
    .parts .mt_holder {
        position: relative;
        width: 98px;
    }
    .parts .img1-sec3 {
        height: 88px;
    }
    .parts .parts-sec3 {
        width: 88px;
    }
    .parts .parts-sec4 {
        left: 12px;
    }
    .parts .img2-sec3 {
        height: 88px;
    }
    .parts .img2-sec4 {
        height: 54px;
    }
    .pdt110 {
        padding-top: 50px;
    }
    .main-slide {
        position: absolute;
        right: -50px;
        bottom: 10px;
        z-index: 99;
    }
    .story1 {
        font-size: 23px;
        line-height: 125%;
        position: absolute;
        left: 11%;
    }
    .story2 {
        padding: 45px 20px;
        top: 30%;
        p {
            line-height: 125%;
            font-size: 15px;
        }
        h3 {
            font-size: 40px;
        }
    }
    .programmes-sec {
        h3 {
            font-size: 40px;
        }
        .programmes-sec p {
            font-size: 15px;
            line-height: 125%;
        }
    }
    .prgm-dcrpt .h100 {
        height: 50vh;
    }
    .parts .h100 {
        height: 35vh;
    }
    .parts {
        .mt_holder {
            display: block;
            margin: 0 auto;
        }
    }
    .main-slide .h80 {
        height: 45vh;
    }
    .contact-sec {
        background-color: #f4efcf;
        border-radius: 116px;
        width: 83%;
        position: relative;
        left: 50%;
        top: 70px;
        @include transform(translateX(-50%));
    }
    .contact-sec {
        background-color: #f4efcf;
        border-radius: 116px;
        width: 53%;
        position: relative;
        left: 54%;
        top: 0;
    }
    .bird-tel {
        position: absolute;
        left: -260px;
    }
    .bird-tel img {
        width: 230px;
        margin: 0 auto;
    }
    .parts .parts-sec {
        width: 90px;
    }
    .programmes-sec {
        margin-top: 26px;
    }
    .programmes-sec {
        padding: 22px 35px 20px;
    }
    .mobile-fix {
        margin-top: 33px;
    }
    .environment .enviornment-sec {
        width: 70%;
        margin: 0 auto;
        z-index: 999;
    }
    .brdcontact img {
        width: 250px;
    }
    .ourstory-page1 {
        min-height: 100vh;
    }
    .prog-bir2 img {
        width: 440px;
    }
}

@media (max-width: $screen-xs-max) {
    .coming-soon .circle-gallery {
        // width: 280px;
    }


    .butterflie {
        top: -14%;
        left: 6%;
        img {
            width: 26%;
        }
    }
    //     .mobile-fix {
    //     margin-top: 90px;
    // }
    .programmes-sec {
        margin-top: 90px;
    }
    .parts .mt_holder {
        position: relative;
        width: 133px;
    }
    .lake img {
        height: 52px;
    }
    .ourstory-bir4 img {
        width: 80px;
    }
    .ourstory-page3 .ourmission-bir3 {
        bottom: -115px;
        right: 0;
    }
    .contact-sec1 {
        width: 100%;
    }
    .ourstory-page3 .ourmission-bir3 img {
        width: 230px;
    }
    .option-sec .btn-default1 {
        display: block;
        width: 110px;
    }
    .flex-direction-nav a {
        margin: -20px 22px 0;
    }
    .navbar-default .navbar-toggle {
        position: absolute;
        right: 20px;
    }
    #slideout_inner .fdb-form1 {
        height: auto;
    }
    #slideout_inner .form-inline .form-group {
        margin-bottom: 0px;
    }
    // .prgm-dcrpt .h100 {
    //     height: 41vh;
    // }
    .option-desc1 {
        padding: 40px;
        width: 100%;
        margin: 0 auto;
    }
    .book-bird {
        right: 0;
    }
    .book-bird img {
        width: 100px;
    }
    .ourstory-page2 .ourstory-bir2 {
        bottom: -55px;
        right: 0;

    }
    .option-sec .btn-default1 {
        font-size: 16px;
    }
    .prog-bir1 img {
        width: 220px;
    }
    .prog-bir4 img {
        width: 224px;
    }
    .prog-bir3 img {
        width: 190px;
    }
    .gallery-page .bfly img {
        width: 46px;
    }
    .gallery-page .bfly {
        margin-left: 0;
    }
    .gallery-page .sub-head {
        font-size: 23px;
    }
    .pos-set2 img {
        width: 246px;
    }
    .gallery-page p {
        font-size: 16px;
    }
    .ourstory-bir1-2 img {
        width: 30px;
    }
    .ourstory-bir1-2 {
        position: absolute;
        top: 17%;
        left: 7%;
    }
    .prog-bir1-2 {
        position: absolute;
        top: 26%;
        left: 1%;
    }
    .prog-bir1-2 img {
        width: 33px;
    }
    // .prog-bir2 img {
    //     width: 440px;
    // }
    .prog-bir2 img {
        width: 300px;
    }
    .prog-bir2-2 img {
        width: 40px;
    }
    .contact-background h3 {
        font-size: 24px;
    }
    .contact-background .msg-form {
        padding-top: 10px;
    }
    // .fdb-form {
    //     padding: 24px 40px;
    // }
    // .fdb-form{
    //   .sub-btn{
    //     margin-top: -39px;
    //   }
    // }
    // .fdb-form .know-more {
    //   margin-bottom: -50px;
    // }
    .sec-style p {
        text-align: justify;
    }
    .sec-style h2 {
        margin-bottom: 0;
    }
    .option-desc {
        padding: 40px 105px;
    }
    .option-desc,
    .option-desc2 {
        width: 100%;
        margin-left: 0px;
    }
    .environment-page .flower img {
        display: none;
    }
    .option-sec {
        position: absolute;
        top: -60px;
        text-align: center;
        width: 100%;
        .btn-default1 {
            display: inline-block;
            margin: 10px -2.1px;
            border-radius: 0px 0 0 0px;
            border-right: 1px solid #fff;
            text-align: center;
        }
    }
    .ourstory-page3 .ourmission-bir3 {
        bottom: -115px;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .ourstory-page2 .ourstory-bir2 img {
        width: 150px;
    }
    .contact-sec1 {
        border-radius: 80px;
        position: static;
        left: 0;
        bottom: 0px;
        padding: 41px 50px;
        .para-set {
            display: block;
        }
    }
    .contact-background h3 {
        color: #fefcec;
        font-size: 30px;
        margin: 0;
        padding-bottom: 15px;
        margin-left: 0px;
        text-align: center;
    }
    .brdcontact {
        top: -40px;
        img {
            width: 180px;
        }
    }
    .fdb-form {
        padding: 40px;
    }
    .navbar-default {
        .navbar-toggle {
            margin-top: 18px;
            background-color: #fefcec;
            border-radius: 0;
        }
        .navbar-brand {
            float: none;
            padding: 10px 15px;
            font-size: 18px;
            line-height: 20px;
            height: 70px;
            margin: 0 auto;
        }
        .menu {
            display: block;
            li {
                display: block;
                margin: 0;
            }
        }
        .social {
            margin-right: 0px;
            float: none;
            margin-top: 10px;
            padding-bottom: 20px;
            text-align: center;
        }
    }
    .birdset2 {
        left: 0px;
        img {
            width: auto;
            height: 30vh;
        }
        .story1 {
            font-size: 16px;
            line-height: 125%;
            left: 11%;
            top: 45%;
        }
    }
    .story2 {
        top: 45%;
        width: 90%;
        left: 5%;
        p {
            margin: 0px 11px 0;
        }
    }
    .pos-set1 img {
        width: 180px;
        margin: 0 auto;
    }
    .form-in img {
        width: 30px;
    }
    #slideout_inner .fdb-form1 {
        padding: 30px 10px;
        border-radius: 70px 0 0 70px;
        width: 290px;
    }
    .main-slide .h80 {
        height: 30vh;
    }
    .parts {
        .mt_holder {
            .back-width {
                width: 90px;
                margin: 0 auto;
            }
            .parts-sec {
                top: 9px;
                left: 23px;
            }
            .parts-sec2 {
                left: 35px;
                width: 135px;
            }
            .parts-sec3 {
                left: 10px;
            }
            .parts-sec4 {
                right: 40px;
            }
            .img1-sec3 {
                height: 70px;
            }
            .img2-sec3 {
                height: 90px;
            }
            .parts-sec3 {
                width: 90px;
            }
            .parts-sec4 {
                cursor: pointer;
                position: absolute;
                top: 24px;
                right: 10px;
                width: 75px;
                .img2-sec4 {
                    height: 60px;
                }
            }
        }
    }
    .contact-sec {
        border-radius: 100px;
        width: 400px;
    }
    .bird-tel img {
        width: 25%;
        margin: 0 auto;
    }
    .story2 {
        top: 57%;
    }
    .birdset2 img {
        width: auto;
        height: 41vh;
    }
    .birdset2 .story1 {
        font-size: 18px;
        line-height: 125%;
        left: 8%;
        top: 45%;
    }
    footer {
        height: auto;
        p {
            text-align: center;
        }
        .mobile-m0 {
            margin: 0;
        }
    }
    .option-desc {
        height: auto;
        min-height: auto;
    }
    .modal-dialog {
        width: 90%;
    }
    .prgm-dcrpt .h100 {
        height: 40vh;
    }
    .programmes-sec {
        margin-top: 74px;
    }
    .programmes-sec p {
        font-size: 14px;
        line-height: 20px;
    }
    .programmes-sec h3 {
        font-size: 30px;
    }
    .mobile-fix {
        margin-top: 110px;
    }
    .parts .mt_holder {
        position: relative;
        width: 137px;
    }
    .environment .enviornment-sec {
        width: 76%;
    }
    .bird-tel {
        position: absolute;
        top: -62px;
        left: 128px;
    }
    .bird-tel img {
        width: 13%;
    }
    .contact-sec {
        left: 50%;
    }
    .brd-msg {
        position: absolute;
        top: 15%;
        left: 5%;
    }
    // .ourstory-page2 .ourstory-bir2 img {
    //   width: 170px;
    // }
}
@media (max-width: 767px) {
  .coming-soon{
  .butterflie1 {
    position: absolute;
    top: -6%;
    left: -11px;
    z-index: 99;
    img{
      width: 90px;
    }
}
  }
}
@media (max-width: 480px) {
    .coming-soon .circle-gallery {
        width: 280px !important;
        margin: 0 auto;
    }
    .flex-direction-nav a:before {
      font-size: 30px;
    }
    .flex-direction-nav .flex-prev {
        left: -36px!important;
      }
    .coming-soon{
    .butterflie1 {
    position: absolute;
    top: -15%;
    left: -10px;
    z-index: 99;
    img{
      width: 70px;
    }
}
    }
    .h3-mob{
      display: block;
      text-align: center;
      font-size: 30px!important;
      margin: 0!important;
    }
  //   .coming-soon{
  //     .butterflie1 {
  //     position: absolute;
  //     top: -6%;
  //     left: 0;
  //     z-index: 99;
  //     img{
  //   width: 69px;
  //     }
  // }
  //   }

    .gallery {
      margin: 0;
        .gallery-head {
            text-align: center;
            h3 {
                font-size: 27px;
            }
        }
        font-size: 27px;

    }
    .butterflie {
        top: -12%;
        left: 20%;
        img {
            width: 30%;
        }
    }
    .environment .enviornment-sec {
        width: 88%;
    }
    .mobile-fix {
        margin-top: 5px;
    }
    .fdb-form .know-more {
        margin-bottom: -55px;
    }
    .contact-sec1 {
        width: 100%;
    }
    .flex-direction-nav .flex-next {
        right: -38px;
        opacity: 1;
    }
    .flex-direction-nav .flex-prev {
        left: -44px;
        opacity: 1;
    }
    .flex-direction-nav a {
        margin: -20px 8px 0 3px;
    }
    .story1 {
        font-size: 15px;
        line-height: 120%;
        left: 2%!important;
    }
    .bird-tel img {
        width: 13%;
        margin: 0 auto;
    }
    .sec-style h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .option-sec {
        padding: 5px;
    }
    .contact-sec1 {
        h3 {
            font-size: 30px;
        }
        li {
            font-size: 12px;
            line-height: 120%;
        }
    }
    .contact-sec1 {
        margin-top: 20px;
    }
    .brdcontact img {
        width: 120px;
    }
    .option-desc1,
    .option-desc,
    .option-desc2,
    .contact-sec1,
    .fdb-form {
        padding: 20px;
        border-radius: 50px;
        margin-bottom: 20px;
        .sec-style p {
            font-size: 15px;
            line-height: 120%;
        }
    }
    .option-sec .btn-default1 {
        display: inline-block;
        margin: 5px -2.1px;
        width: auto;
        font-size: 14px;
        padding: 6px;
    }
    .option-desc2 li,
    .lst-bullet li {
        line-height: 120%;
        margin: 5px 16px 0;
    }
    .ourteam-page .main-head {
        padding-bottom: 0px;
    }
    .bird1-team,
    .bird-write,
    .bird2-team,
    .swimbird,
    .bird4-team,
    .book-bird,
    .lake,
    .ourstory-bir2,
    .ourmission-bir3,
    .ourstory-bir4,
    .prog-bir1,
    .prog-bir2,
    .prog-bir4,
    .prog-bir3,
    .prog-bir1-2,
    .prog-flower,
    .prog-bir2-2,
    .ourstory-bir1-2 {
        display: none;
    }
    .book-bird {
        display: none;
    }
    .bird3-team img {
        width: 120px;
    }
    .sec-align1 {
        position: relative;
        padding-bottom: 100px;
    }
    .our-team-content1,
    .our-team-content2,
    .our-team-content5 {
        padding: 35px;
        border-radius: 70px;
        margin-top: 80px;
        .sub-head {
            font-size: 30px;
        }
        .post {
            font-size: 18px;
            color: #e45854;
        }
        p {
            font-size: 14px;
            line-height: 120%;
        }
    }
    .pdt180 {
        padding-top: 0px;
    }
    .birdset2 .story1 {
        font-size: 17px;
    }
    .contact-sec {
        border-radius: 70px;
        width: 310px;
        padding: 25px 20px;
        li {
            font-size: 13px;
            margin-left: 10px;
            line-height: 15px;
            margin: 3px 16px 0;
        }
        h3 {
            color: #40180c;
            font-size: 24px;
            margin: 0 16px;
        }
    }
    .programmes-sec {
        h3 {
            font-size: 24px;
        }
        p {
            line-height: 110%;
            font-size: 14px;
            height: 133px;
            overflow: hidden;
        }
    }
    .story2,
    .environment .enviornment-sec {
        height: 220px;
        h3 {
            font-size: 24px;
        }
        p {
            line-height: 110%;
            font-size: 14px;
            height: 133px;
            overflow: hidden;
        }
    }
    .pdt110 {
        padding-top: 55px;
    }
    .programmes-sec {
        padding: 20px 14px 21px;
        height: 182px;
        margin-top: 10px;
        border-radius: 70px;
        p {
            height: 120px;
        }
    }
    .environment .enviornment-sec {
        padding: 30px 30px;
    }
    .gallery-page p {
        font-size: 18px;
    }
    .pos-set2 img {
        width: 300px;
    }
    .camera-sec img {
        width: 130px;
    }

    .story2 {
        padding: 22px 20px;
        top: 56%;
        width: 95%;
        left: 2%;
        height: 220px;
        border-radius: 70px;
        .know-more {
            padding: 5px 20px;
            font-size: 12px;
        }
    }
    .story2 {
        height: 150px;
    }
    .parts .mgt50 {
        margin-top: 20px;
    }
    .enviornment-sec {
        height: 275px!important;
        p {
            height: 200px!important;
        }
    }
    .prgm-dcrpt {
        padding-top: 60px;
    }
    .pdt150 {
        padding-top: 120px;
    }
    .curve {
        height: 10px;
    }
    .map-sec {
        height: 70vh !important;
    }
}

// @media (max-width: 375px) {
//     .butterflie {
//         top: 261px;
//         left: 2px;
//     }
// }
@media (max-width: 360px) {
    //gallery
    .coming-soon{
      margin: 0!important;
    .butterflie1 {
        position: absolute;
        top: -38px;
        left: 0;
        z-index: 99;
    img{
      width: 50px;
    }
}
    }
    .gallery {
      margin: 0!important;
        .gallery-head {
            text-align: center;
        }
    }
    .flex-direction-nav a:before {
      font-size: 26px;
    }
    .flex-direction-nav .flex-prev {
      left: -36px;
    }
    .coming-soon {
        .circle-gallery {
            margin: 0 -28px;
            .flexslider {
                .flex-direction-nav {
                    .flex-prev {
                        left: 22px;
                    }
                    .flex-next {
                        right: 10px
                    }
                }
                .image-circle {
                    width: 160px;
                    height: 160px;
                    .plusimg {
                        right: -45px;
                        img {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
    .butterflie {
        top: -10%;
        left: 18%;
        img {
            width: 26%;
        }
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -38px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -44px;
    }
    // .gallery h3 {
    //     font-size: 27px;
    // }
    // .flex-direction-nav a {
    //     margin: -20px 8px 0 3px;
    // }
    .main-slide {
        display: none;
    }
    .contact-sec {
      border-radius: 70px;
  width: 310px;
  height: 210px;
  margin-bottom: -20px;
  padding: 20px;
        li{
          font-size: 14px;
          .fa {
      font-size: 20px;
    }
        }
    }
    .parts .mgt50 {
        margin-top: 0px;
    }
    .story2 p,
    .environment .enviornment-sec p {
        height: 105px;
    }
    .prgm-dcrpt {
        padding-top: 105px;
    }
    .programmes-sec {
        padding: 15px;
        border-radius: 60px;
        height: 220px;
        margin-top: 35px;
        width: 90%;
        p {
            height: 135px;
        }
    }
    .environment .enviornment-sec {
        border-radius: 70px;
        padding: 30px 20px;
    }
    .birdset2 img {
        width: auto;
        height: 33vh;
    }
    .h3-mob{
      display: block;
      text-align: center;
      font-size: 26px!important;
      margin: 0!important;
    }
    .parts-sec{
      top: 5px!important;
left: 33px!important;
      .img1-sec3 {
    height: 70px;
  }
}
.parts .mt_holder .back-width{
  width: 70px;
}
.parts .parts-sec3{
  top: 15px;
}
.parts .mt_holder .parts-sec4{
  top: 10px;
  width: 75px;
  left: 26px;
}
.parts span{
  font-size: 20px;
}
.parts .parts-sec2{
  top: -12px;
}
.story2{
  top: 53%;
}
.birdset2 .story1{
  width: 71%;
}
}
