@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
}
@font-face {
    font-family: "Hind-Regular";
    src: url("../fonts/Hind-Regular.ttf");
}
@font-face {
    font-family: "inaimathi";
    src: url("../fonts/inaimathi.ttf");
}
@font-face {
    font-family: "Hind-Medium";
    src: url("../fonts/Hind-Medium.ttf");
}
@font-face {
    font-family: "DK-The-Cats-Whiskers";
    src: url("../fonts/DK-The-Cats-Whiskers.otf");
}
@font-face {
    font-family: "Rubik-Light";
    src: url("../fonts/Rubik-Light.ttf");
}
.font-rubik-light {
    font-family: "Rubik-Light";
}
.font-hind-regular {
    font-family: "Hind-Regular";
}
.font-hind-medium {
    font-family: "Hind-Medium";
}
.font-inaimathi {
    font-family: "inaimathi";
}
.font-dkcat {
    font-family: "DK-The-Cats-Whiskers";
}
.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
}
.font-regular {
    font-weight: 400;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.h100 {
    height: 100vh;
}
.wd100 {
    width: 100%;
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.display-inline {
    display: inline-block;
}
// classes
.relate {
    position: relative;
}
.get-center {
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%,-50%));
}
// classes end
.section {
    background-size: cover;
    height: 100vh!important;
}
.fp-tableCell {
    height: 100vh !important;
    background-repeat: no-repeat;
    background-position: center center;
}
//hide  header from first page
// .fp-viewing-0 {
//     .navbar-fixed-top {
//         top: 100%;
//         border-width: 0;
//     }
// }
.one {
    background-image: url('../img/sec1/home.png');
}
.two {
    background-image: url('../img/sec2/home2.png');
}
.three {
    background-image: url('../img/sec3/home3.png');
}
.four {
    background-image: url('../img/sec4/home4.png');
    background-size: 100% 100%;
}
.five {
    background-image: url('../img/sec5/home5.png');
}
.six {
    background-image: url('../img/sec6/home6.png');
}
// sec1
.pos-set1 {
    img {
        width: 250px;
        margin: 0 auto;
    }
}
.birdset1 {
    position: absolute;
    top: 57%;
    left: 50%;
    img {
        width: 300px;
    }
}
.birdset2 {
    position: absolute;
    top: 6%;
    left: -84px;
    img {
        width: 900px;
    }
}
//sec1 end
.story1 {
    color: #fff;
    font-size: 27px;
    position: absolute;
    left: 23%;
    top: 38%;
    p {
        margin: 0;
    }
}
.story2 {
    background-color: #f4efcf;
    padding: 45px 53px;
    border-radius: 122px;
    position: absolute;
    top: 28%;
    left: 48%;
    width: 45%;
    h3 {
        color: #ef4f22;
        font-size: 50px;
        margin-top: 5px;
        margin-left: 10px;
    }
    p {
        // font-size: 16px;
        // margin-left: 10px;
        // line-height: 22px;
        // margin: 0 19px;
        // color: #63463d;
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 10px 16px 0;
        color: #63463d;
        font-weight: 600;
    }
    .know-more {
        position: absolute;
        right: 10%;
        padding: 5px 20px;
        /* padding: 12px; */
        bottom: -11px;
        font-size: 20px;
        background-color: #e9c31e;
        border-radius: 50px;
        color: #40180c;
    }
}
.programmes-sec {
    background-color: #f4efcf;
    border-radius: 115px;
    width: 85%;
    position: absolute;
    left: 50%;
    padding: 52px 35px 47px;
    top: 50%;
    transform: translate(-50%,-50%);
    h3 {
        color: #ef4f22;
        font-size: 50px;
        margin: 0 16px;
    }
    p {
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 10px 16px 0;
        color: #63463d;
        font-weight: 600;
    }
}
.parts {
    img {
        width: 140px;
        padding-bottom: 10px;
    }
    span {
        font-family: "DK-The-Cats-Whiskers";
        font-weight: 600;
        color: #fff;
        font-size: 22px;
        padding: 5px;
        @include transition(all ease 300ms);
    }
    .parts-sec {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        &:hover {
            span {
                color: darken(#fff, 20%);
            }
        }
    }
    .mgt50 {
        margin-top: 45px;
    }
}
.prog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.camera-sec {
    position: absolute;
    top: 10%;
    left: -9px;
    img {
        width: 220px;
    }
}
.main-slide {
    position: absolute;
    right: -88px;
    top: 12%;
    img {
        width: 640px;
    }
}
.bird-show1 {
    position: absolute;
    top: 38%;
    right: 28%;
    img {
        width: 135px;
    }
}
.bird-show2 {
    position: absolute;
    left: -60px;
    bottom: -10px;
    img {
        width: 110px;
    }
}
.environment {
    .enviornment-sec {
        background-color: #f4efcf;
        border-radius: 105px;
        width: 100%;
        position: relative;
        left: 15%;
        top: 125px;
        padding: 40px 54px;
        h3 {
            color: #6a4657;
            font-size: 50px;
            margin: 0 16px;
        }
        p {
            font-size: 16px;
            margin-left: 10px;
            line-height: 22px;
            margin: 10px 16px 0;
            color: #63463d;
            font-weight: 600;
        }
        .know-more {
            position: absolute;
            right: 10%;
            padding: 5px 20px;
            /* padding: 12px; */
            bottom: -11px;
            font-size: 20px;
            background-color: #e9c31e;
            border-radius: 50px;
            color: #40180c;
        }
    }
}
.gallery {
    h3 {
        color: #fffdf9;
        font-size: 50px;
        margin: 0 -22px 28px;
    }
}
.slider {
    .flexslider {
        background: transparent;
        border: 0;
    }
}
.fly {
    img {
        width: 152px;
    }
}
.bird-tel {
    position: relative;
    top: 29px;
    left: 99px;
    z-index: 9;
    img {
        width: 510px;
    }
}
.brd-msg {
    img {
        width: 140px;
    }
    position: absolute;
    top: -17px;
    left: -29px;
}
.contact-sec {
    background-color: #f4efcf;
    border-radius: 116px;
    width: 83%;
    position: relative;
    left: -31px;
    top: 70px;
    padding: 41px 52px;
}
h3 {
    color: #40180c;
    font-size: 50px;
    margin: 0 16px;
}
ul {
    padding: 0;
}
li {
    font-size: 15px;
    margin-left: 10px;
    line-height: 22px;
    margin: 10px 16px 0;
    letter-spacing: 0.4px;
    color: #63463d;
    font-weight: 600;
    list-style-type: none;
    font-family: "Hind-Regular";
    p {
        display: inline-block;
        margin-bottom: 0;
    }
    .fa {
        color: #eac62c;
        margin-right: 10px;
    }
}
.para-set {
    margin-left: 25px;
}
.curve-holder {
    width: 200px;
    height: 200px;
    background: #1e90ff;
    position: relative;
    border: 7px solid #fffdf9;
    border-radius: 75px;
    margin: 0 auto;
    background: url("../img/test-img.png") no-repeat center center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: 6px 4px 0 #fff;
}
.plus {
    position: absolute;
    top: 37%;
    left: 81%;
    padding: 0;
    height: 22%;
    width: 23%;
    border-radius: 21px 0 0 21px;
    /* overflow: hidden; */
    background-color: #fffdf9;
    padding: 14px 11px;
    span {
        color: #ee5022;
        font-size: 42px;
        font-weight: 400;
    }
}
.slider {
    .flexslider {
        li {
            width: 220px;
        }
    }
    .flex-direction-nav a.flex-next:before {
        content: url("../img/nav-next.png");
    }
    .flex-direction-nav a.flex-prev:before {
        content: url("../img/nav-prev.png");
    }
    .flex-direction-nav .flex-prev {
        opacity: 1;
        height: 20%;
        left: -60px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -60px;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -30px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        height: 20%;
        right: -30px;
    }
}
.img-sec {
    display: inline-block;
}
.navbar-default .navbar-nav > li > a {
    font-family: "Hind-Regular";
    color: #783620;
}
.navbar-collapse {
    ul {
        margin: 0;
    }
    li {
        display: inline-block;
        vertical-align: middle;
    }
}
.menu {
    display: inline-block;
    img {
        width: 130px;
    }
    li > a {
        font-family: "Hind-Regular";
        color: #783620;
        @include transition(all ease 300ms);
        &:active,
        &:hover {
            text-decoration: none;
            color: darken(#783620, 20%);
        }
    }
}
.curve {
    background: url("../img/curve.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
}
.main-hd {
    background: #fefcec;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
}
.social {
    margin-top: 25px;
    float: right;
    a {
        .fa {
            background-color: #c9c3a0;
            color: #fff;
            border-radius: 50%;
            height: 25px;
            width: 24px;
            line-height: 24px!important;
            margin-right: 5px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        &:hover {
            text-decoration: none;
        }
    }
}
.name-btn {
    background-color: #41e27a;
    border-radius: 25px;
    display: inline-block;
    padding: 0 40px;
    margin-top: 5px;
    h4 {
        font-weight: 600;
        font-size: 14px;
    }
}
.mgl5 {
    margin-left: 5px;
}
.contact-sec {
    a {
        color: #63463d;
        text-decoration: none;
        &:hover {
            color: black;
        }
    }
}
.side-btn {
    position: relative;
    button {
        right: -54px;
        padding: 5px 5px 5px 10px;
    }
    .fa {
        background-color: #fff;
        color: #e9c31e;
        transform: rotate(90deg);
        line-height: 35px;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }
}
.rotate1 {
    position: fixed;
    bottom: 56%;
    transform: rotate(270deg);
    background-color: #c6dbcf;
    border-radius: 30px;
    width: 9%;
}
.rotate2 {
    position: fixed;
    bottom: 34%;
    transform: rotate(270deg);
    background-color: #c6dbcf;
    border-radius: 30px;
    width: 9%;
}
.btn-bdr {
    position: absolute;
    top: -2px;
    left: -12px;
}
.btn-default.focus,
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    outline: none;
}
.environment-page {
    position: relative;
    .enviornment-sec {
        background-color: #f4efcf;
        border-radius: 105px;
        padding: 40px 54px;
        h3 {
            color: #ef4f22;
            font-size: 40px;
            margin: 0 16px;
            padding-bottom: 30px;
        }
        .sec-head {
            margin-top: 5px;
            margin-bottom: 0;
        }
        p {
            font-size: 16px;
            margin-left: 10px;
            line-height: 22px;
            margin: 0 0 10px;
            color: #63463d;
            font-weight: 600;
        }
    }
}
///headerc
.environment-page {
    background-image: url('../img/sec4/home4.png');
}
.swimbird {
    margin-top: -12%;
}
.features {
    margin-top: 20px;
    li {
        margin: 0;
        font-size: 16px;
    }
}
.desc-list {
    li {
        font-size: 16px;
        margin: 0;
    }
    li::before {
        content: "-";
    }
}
.pdt180 {
    padding-top: 180px;
}
.pdb150 {
    padding-bottom: 150px !important;
}
.bird6 {
    position: relative;
}
.pdt150 {
    padding-top: 150px;
}
.pdt110 {
    padding-top: 110px;
}
//our-story
.ourstory-page {
    background-image: url('../img/ourstory/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.our-story-content {
    background-color: #fffdf9;
    padding: 40px 60px 120px;
    border-radius: 86px;
    margin-bottom: -80px;
    position: relative;
    .main-head {
        color: #ef4f22;
        font-size: 40px;
        margin: 0 16px;
        padding-bottom: 30px;
    }
    .sub-head {
        color: #ef4f22;
        font-size: 40px;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    p {
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 0 0 10px;
        color: #63463d;
        font-weight: 600;
    }
    li {
        list-style-type: disc;
    }
    .know-more {
        padding: 2px;
        width: 20%;
        font-size: 20px;
        background-color: #c54241;
        border-radius: 50px;
        position: relative;
        color: #fff;
        top: 105px;
        margin-left: 20px;
        border: transparent;
    }
}
.lake {
    position: relative;
    left: -345px;
    img {
        height: 138px;
    }
}
.fly-sec1 {
    position: absolute;
    top: 100px;
    left: 170px;
    img {
        width: 50px;
    }
}
.fly-sec2 {
    position: absolute;
    top: 240px;
    right: 70px;
    img {
        width: 70px;
    }
}
.fly-sec3 {
    position: absolute;
    left: 70px;
    bottom: -50px;
    img {
        width: 50px;
    }
}
.book-bird {
    position: absolute;
    bottom: -24px;
    right: -56px;
    img {
        width: 150px;
    }
}
///ourteam
.ourteam-page {
    background-image: url('../img/ourteam/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    p {
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 0;
        color: #63463d;
        font-weight: 600;
    }
    .main-head {
        color: #fffdf9;
        font-size: 40px;
        margin: 0 16px;
        padding-bottom: 30px;
    }
}
.our-team-content1 {
    background-color: #fffdf9;
    padding: 50px;
    border-radius: 86px;
    position: relative;
    .sub-head {
        color: #e45854;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #e45854;
    }
}
.bird1-team {
    position: absolute;
    top: 183px;
    right: 0;
    img {
        width: 650px;
    }
}
.mgt150 {
    margin-top: 150px;
}
.our-team-content2 {
    background-color: #fffdf9;
    padding: 50px;
    border-radius: 86px;
    position: relative;
    .sub-head {
        color: #2ea480;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #2ea480;
    }
}
.bird2-team {
    position: absolute;
    top: 200px;
    left: 0;
    img {
        width: 340px;
    }
}
.our-team-content3 {
    background-color: #fffdf9;
    padding: 50px 57px;
    border-radius: 100px;
    position: relative;
    .sub-head {
        color: #ee852f;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #ee852f;
    }
}
.bird3-team {
    position: absolute;
    top: 341px;
    right: 60px;
    img {
        width: 200px;
    }
}
.our-team-content4 {
    background-color: #fffdf9;
    padding: 50px 57px;
    border-radius: 100px;
    position: relative;
    .sub-head {
        color: #511b09;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #511b09;
    }
}
.bird4-team {
    position: absolute;
    top: 340px;
    left: 0;
    img {
        width: 600px;
    }
}
.our-team-content5 {
    background-color: #fffdf9;
    padding: 50px 57px;
    border-radius: 130px;
    position: relative;
    span {
        font-family: "Hind-Regular";
        font-size: 35px;
    }
    .sub-head {
        color: #dd701f;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #dd701f;
    }
}
.bird5-team {
    position: absolute;
    top: 415px;
    right: 0;
    img {
        width: 700px;
    }
}
.sec-align {
    position: relative;
}
.sec-align1 {
    position: relative;
    padding-bottom: 215px;
}
///programmes
///accordian
.tabordion {
    color: #333;
    display: block;
    font-family: arial, sans-serif;
    margin: auto;
    position: relative;
    width: 80%;
    label {
        font-family: "DK-The-Cats-Whiskers";
        color: #fff;
        font-weight: 500;
        letter-spacing: 2px;
    }
}
.tabordion input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.tabordion section {
    display: block;
}
.tabordion section label {
    background: #c54241;
    cursor: pointer;
    border-radius: 40px;
    display: block;
    text-align: left;
    font-size: 1.2em;
    padding: 5px 20px;
    position: relative;
    width: 180px;
    z-index: 100;
}
.tabordion section article {
    display: none;
    left: 230px;
    min-width: 300px;
    padding: 0 0 0 21px;
    position: absolute;
    top: 0;
}
.tabordion input[name="sections"]:checked + label {
    background: #dd701f;
}
.tabordion input[name="sections"]:checked ~ article {
    display: block;
}
///taboirdion end
.option-sec {
    .btn-default {
        display: block;
        width: 65%;
        color: #fff;
        background-color: #c54241;
        padding: 5px 15px;
        border: none;
        margin: 10px;
        border-radius: 20px;
        font-size: 20px;
        text-align: left;
    }
}
.option-desc {
    background-color: #f4efcf;
    border-radius: 80px;
    padding: 40px 120px;
}
//accordnew
.ourprogrammes-page {
    background-image: url('../img/sec4/home4.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.sec-holder {
    border-radius: 50px;
    background-color: #fff;
}
.mother-toddler {
    h2 {
        color: #dd701f;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    p {
        font-size: 15px;
        line-height: 1.4;
        color: #63463d;
        padding-bottom: 40px;
        font-weight: 600;
    }
}
.pdt30 {
    padding-top: 65px;
}
.mgl-135 {
    margin-left: -135px;
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
