@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
}

@font-face {
    font-family: "Hind-Regular";
    src: url("../fonts/Hind-Regular.ttf");
}

@font-face {
    font-family: "GothamRoundedBook";
    src: url("../fonts/GothamRoundedBook.ttf");
}

@font-face {
    font-family: "inaimathi";
    src: url("../fonts/inaimathi.ttf");
}

@font-face {
    font-family: "Hind-Medium";
    src: url("../fonts/Hind-Medium.ttf");
}

@font-face {
    font-family: "DK-The-Cats-Whiskers";
    src: url("../fonts/DK-The-Cats-Whiskers.otf");
}

@font-face {
    font-family: "Rubik-Light";
    src: url("../fonts/Rubik-Light.ttf");
}

.font-rubik-light {
    font-family: "Rubik-Light";
}

.font-hind-regular {
    font-family: "Hind-Regular";
}

.font-gothamrounded {
    font-family: "GothamRoundedBook";
}

.font-hind-medium {
    font-family: "Hind-Medium";
}

.font-inaimathi {
    font-family: "inaimathi";
}

.font-dkcat {
    font-family: "DK-The-Cats-Whiskers";
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}

//bootstrap forms
.btn,
.form-control,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}

.h100 {
    height: 100vh;
}

.wd100 {
    width: 100%;
}

.block {
    display: block;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.display-inline {
    display: inline-block;
}

// classes
.relate {
    position: relative;
}

.min-hght {
    min-height: 100vh;
}

.get-center {
    @include position(absolute,
    50% null null 50%);
    @include transform(translate(-50%,
    -50%));
}

// classes end
.section {
    background-size: cover;
    height: 100vh!important;
    background-position: center;
}

.fp-tableCell {
    height: 100vh !important;
    background-repeat: no-repeat;
    background-position: center center;
}

//hide  header from first page
// .fp-viewing-0 {
//     .navbar-fixed-top {
//         top: 100%;
//         border-width: 0;
//     }
// }
.one {
    background-image: url('../img/sec1/home.png');
}

.two {
    background-image: url('../img/sec2/home2.png');
}

.three {
    background-image: url('../img/sec3/home3.png');
    background-size: cover;
}

.four {
    background-image: url('../img/sec4/home4.png');
    background-size: cover;
}

.five {
    background-image: url('../img/sec5/home5.png');
}

.six {
    background-image: url('../img/sec6/home6.png');
}

textarea {
    resize: none;
}

// sec1
.pos-set1 {
    img {
        width: 250px;
        margin: 0 auto;
    }
}

.birdset1 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    img {
        width: 300px;
    }
}

.birdset2 {
    position: absolute;
    top: 6%;
    left: -84px;
    padding-top: 50px;
    img {
        width: 880px;
    }
}

//sec1 end
.story1 {
    color: #fff;
    font-size: 27px;
    position: absolute;
    left: 23%;
    top: 38%;
    padding-top: 20px;
    p {
        margin: 0;
    }
}

.story2 {
    background-color: #f4efcf;
    padding: 45px 53px;
    border-radius: 122px;
    position: absolute;
    top: 28%;
    left: 48%;
    width: 600px;
    h3 {
        color: #ef4f22;
        font-size: 50px;
        margin-top: 5px;
        margin-left: 10px;
    }
    p {
        // font-size: 16px;
        // margin-left: 10px;
        // line-height: 22px;
        // margin: 0 19px;
        // color: #63463d;
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 10px 16px 0;
        color: #63463d;
        font-weight: 600;
    }
    .know-more {
        position: absolute;
        right: 10%;
        padding: 5px 20px;
        /* padding: 12px; */
        bottom: -11px;
        font-size: 20px;
        background-color: #e9c31e;
        border-radius: 50px;
        color: #40180c;
    }
}

.programmes-sec {
    background-color: #f4efcf;
    border-radius: 115px;
    width: 85%;
    position: absolute;
    left: 50%;
    padding: 52px 35px 47px;
    top: 50%;
    @include transform(translate(-50%,
    -50%));
    h3 {
        color: #ef4f22;
        font-size: 50px;
        margin: 0 16px;
    }
    p {
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 10px 16px 0;
        color: #63463d;
        font-weight: 600;
    }
}

.parts {
    span {
        font-family: "DK-The-Cats-Whiskers";
        font-weight: 600;
        color: #fff;
        font-size: 22px;
        padding: 5px;
        @include transition(all ease 300ms);
    }
    .mt_holder {
        position: relative;
        display: inline-block;
        width: 137px;
    }
    .parts-sec {
        cursor: pointer;
        position: absolute;
        top: 9px;
        left: 0;
        width: 135px;
        &:hover {
            span {
                color: darken(#fff, 20%);
            }
        }
    }
    .parts-sec2 {
        cursor: pointer;
        position: absolute;
        top: -5px;
        left: 17px;
        width: 135px;
        &:hover {
            span {
                color: darken(#fff, 20%);
            }
        }
    }
    .parts-sec3 {
        cursor: pointer;
        position: absolute;
        top: 25px;
        left: -15px;
        width: 135px;
        &:hover {
            span {
                color: darken(#fff, 20%);
            }
        }
    }
    .parts-sec4 {
        cursor: pointer;
        position: absolute;
        top: 42px;
        right: 0;
        width: 135px;
        &:hover {
            span {
                color: darken(#fff, 20%);
            }
        }
    }
    .img1-sec3 {
        height: 135px;
    }
    .img2-sec3 {
        height: 140px;
    }
    .img2-sec4 {
        height: 80px;
    }
    .mgt50 {
        margin-top: 45px;
    }
}

.prog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,
    -50%));
}

.camera-sec {
    position: absolute;
    top: 15%;
    left: -9px;
    img {
        width: 180px;
    }
}

.main-slide {
    position: absolute;
    right: -100px;
    bottom: 10px;
    img {
        width: auto !important;
    }
}

.h80 {
    height: 80vh;
}

.bird-show1 {
    position: absolute;
    top: 38%;
    right: 28%;
    img {
        width: 135px;
    }
}

.bird-show2 {
    position: absolute;
    left: -44px;
    bottom: 0px;
    img {
        width: 110px;
    }
}

.environment {
    .enviornment-sec {
        background-color: #f4efcf;
        border-radius: 105px;
        width: 48%;
        position: relative;
        left: 0;
        top: 125px;
        padding: 40px 54px;
        h3 {
            color: #6a4657;
            font-size: 50px;
            margin: 0 16px;
        }
        p {
            font-size: 16px;
            margin-left: 10px;
            line-height: 22px;
            margin: 10px 16px 0;
            color: #63463d;
            font-weight: 600;
        }
        .know-more {
            position: absolute;
            right: 10%;
            padding: 5px 20px;
            /* padding: 12px; */
            bottom: -11px;
            font-size: 20px;
            background-color: #e9c31e;
            border-radius: 50px;
            color: #40180c;
        }
    }
}

.gallery {
    h3 {
        color: #fffdf9;
        font-size: 50px;
        margin: 0 60px 5px;
    }
}

.slider {
    .flexslider {
        background: transparent;
        border: 0;
    }
}

.fly {
    img {
        width: 152px;
    }
}

.bird-tel {
    position: relative;
    top: 29px;
    left: 50px;
    z-index: 9;
    width: 52%;
    float: left;
    img {
        width: 100%;
    }
}

.brd-msg {
    img {
        width: 140px;
    }
    position: absolute;
    top: 20%;
    left: 5%;
}

.contact-sec {
    background-color: #f4efcf;
    border-radius: 116px;
    position: relative;
    left: -31px;
    top: 70px;
    padding: 41px 52px;
    width: 48%;
    float: left;
}

h3 {
    color: #40180c;
    font-size: 50px;
    margin: 0 16px;
}

ul {
    padding: 0;
}

a {
    cursor: pointer;
}

li {
    font-size: 15px;
    margin-left: 10px;
    line-height: 22px;
    margin: 10px 16px 0;
    letter-spacing: 0.4px;
    color: #63463d;
    font-weight: 600;
    list-style-type: none;
    font-family: "Hind-Regular";
    p {
        display: inline-block;
        margin-bottom: 0;
    }
    .fa {
        color: #eac62c;
        margin-right: 10px;
    }
}

.para-set {
    margin-left: 25px;
}

.curve-holder {
    width: 200px;
    height: 200px;
    background: #1e90ff;
    position: relative;
    border: 7px solid #fffdf9;
    border-radius: 75px;
    margin: 0 auto;
    background: url("../img/test-img.png") no-repeat center center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: 6px 4px 0 #fff;
}

.plus {
    position: absolute;
    top: 37%;
    left: 81%;
    padding: 0;
    height: 22%;
    width: 23%;
    border-radius: 21px 0 0 21px;
    /* overflow: hidden; */
    background-color: #fffdf9;
    padding: 14px 11px;
    span {
        cursor: pointer;
        color: #ee5022;
        font-size: 42px;
        font-weight: 400;
    }
}

.slider {
    .flexslider {
        li {
            width: 220px;
        }
    }
    .flex-direction-nav a.flex-next:before {
        content: url("../img/nav-next.png");
    }
    .flex-direction-nav a.flex-prev:before {
        content: url("../img/nav-prev.png");
    }
    .flex-direction-nav .flex-prev {
        opacity: 1;
        height: 20%;
        left: -40px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -40px;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -30px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        height: 20%;
        right: -30px;
    }
}

.img-sec {
    display: inline-block;
}

.navbar-default .navbar-nav>li>a {
    font-family: "Hind-Regular";
    color: #783620;
}

.navbar-collapse {
    text-align: center;
    ul {
        margin: 0;
    }
    li {
        display: inline-block;
        vertical-align: middle;
    }
}

.menu {
    display: inline-block;
    float: none;
    img {
        width: 130px;
    }
    li {
        margin: 0;
        margin-top: 17px;
        a {
            font-family: "Hind-Regular";
            color: #783620;
            @include transition(all ease 300ms);
            &:active,
            &:hover {
                text-decoration: none;
                color: darken(#783620, 20%);
            }
        }
    }
    .logo-main {
        margin-top: 0;
        a {
            padding: 5px 10px;
        }
    }
}

.curve {
    background: url("../img/curve.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    margin-top: -1px;
}

.main-hd {
    background: #fefcec;
}

.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
}

.social {
    margin-top: 25px;
    float: right;
    a {
        .fa {
            background-color: #c9c3a0;
            color: #fff;
            border-radius: 50%;
            height: 25px;
            width: 24px;
            line-height: 24px!important;
            margin-right: 5px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.name-btn {
    background-color: #41e27a;
    border-radius: 25px;
    display: inline-block;
    padding: 0 40px;
    margin-top: 5px;
    h4 {
        font-weight: 600;
        font-size: 14px;
    }
}

.mgl5 {
    margin-left: 5px;
}

.contact-sec {
    a {
        color: #63463d;
        text-decoration: none;
        &:hover {
            color: black;
        }
    }
}

.side-btn {
    position: absolute;
    top: 40%;
    right: 0;
    img {
        width: 40px;
    }
}

.btn-default.focus,
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    outline: none;
}

.environment-page {
    position: relative;
    .flower {
        position: absolute;
        bottom: 0;
        left: 10%;
        z-index: 99;
        img {
            width: 150px;
        }
    }
    .enviornment-sec {
        background-color: #f4efcf;
        border-radius: 105px;
        padding: 40px 54px;
        h3 {
            color: #ef4f22;
            font-size: 40px;
            margin: 0 16px;
            padding-bottom: 30px;
        }
        .sec-head {
            margin-top: 5px;
            margin-bottom: 0;
        }
        p {
            font-size: 16px;
            margin-left: 10px;
            line-height: 22px;
            margin: 0 0 10px;
            color: #63463d;
            font-weight: 600;
        }
    }
}

.option-desc2 {
    background-color: #f4efcf;
    border-radius: 100px;
    padding: 40px 100px;
    height: auto;
    position: relative;
    z-index: 99;
    width: 75%;
    margin-left: 144px;
    // padding-bottom: 150px;
    // margin-bottom: -140px;
    li {
        list-style-type: disc;
    }
    .sec-style {
        h2 {
            color: #ee5022;
        }
        p {
            color: #5c392d;
            font-family: "Hind-Regular";
        }
    }
}

.pdb70 {
    padding-bottom: 70px;
}

.bird-write {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
    img {
        width: 600px;
    }
}

///headerc
.a {
    position: relative;
    height: 70px;
    width: 100%;
    background: #182F5B;
    li {
        display: inline-block;
    }
}

.a:after,
.a:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 50%;
}

.a:after {
    width: 100%;
    height: 70px;
    background-color: #182F5B;
    left: 0;
    top: 34px;
}

//head
.environment-page {
    background-image: url('../img/environment/background.png');
}

.swimbird {
    position: absolute;
    z-index: 99;
    bottom: 0;
}

.environ-desc {
    li {
        margin-bottom: 15px;
    }
}

.features {
    margin-top: 20px;
    li {
        margin: 0;
        font-size: 16px;
    }
}

.desc-list {
    li {
        font-size: 16px;
        margin: 0;
    }
    li::before {
        content: "-";
    }
}

.pdt180 {
    padding-top: 180px;
}

.pdb150 {
    padding-bottom: 150px !important;
}

.bird6 {
    position: relative;
}

.pdt150 {
    padding-top: 150px;
}

.pdt110 {
    padding-top: 110px;
}

//our-story
.ourstory-page1 {
    background-image: url('../img/ourstory/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.about-inside {
    min-height: 557px;
}

.ourstory-page2 {
    background-image: url('../img/ourstory/ourvision.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .ourstory-bir2 {
        position: absolute;
        bottom: -69px;
        right: -122px;
        z-index: 999;
        img {
            width: 300px;
        }
    }
}

.ourstory-page3 {
    background-image: url('../img/ourstory/ourmission-bag.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .ourmission-bir3 {
        position: absolute;
        bottom: -82px;
        right: -160px;
        z-index: 999;
        img {
            width: 340px;
        }
    }
}

.ourmission-1 {
    position: absolute;
    top: 45%;
    right: 60px;
    img {
        width: 65px;
    }
}

.ourstory-bir4 {
    position: absolute;
    right: 18%;
    bottom: 0;
    z-index: 2;
    img {
        width: 220px;
    }
}

.tab-part {
    position: relative;
    z-index: 0;
}

.our-story-content {
    background-color: #fffdf9;
    padding: 40px 60px 120px;
    border-radius: 86px;
    margin-bottom: -80px;
    position: relative;
    .main-head {
        color: #ef4f22;
        font-size: 40px;
        margin: 0 16px;
        padding-bottom: 30px;
    }
    .sub-head {
        color: #ef4f22;
        font-size: 40px;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    p {
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 0 0 10px;
        color: #63463d;
        font-weight: 600;
        text-align: justify;
    }
    li {
        list-style-type: disc;
    }
    .know-more {
        padding: 2px;
        width: 20%;
        font-size: 20px;
        background-color: #c54241;
        border-radius: 50px;
        position: relative;
        color: #fff;
        top: 105px;
        margin-left: 20px;
        border: transparent;
    }
}

.lake {
    position: absolute;
    left: 0;
    bottom: 0;
    img {
        height: 125px;
    }
}

.fly-sec1 {
    position: absolute;
    top: 100px;
    left: 170px;
    img {
        width: 50px;
    }
}

.fly-sec2 {
    position: absolute;
    top: 240px;
    right: 70px;
    img {
        width: 70px;
    }
}

.fly-sec3 {
    position: absolute;
    left: 70px;
    bottom: -50px;
    img {
        width: 50px;
    }
}

.book-bird {
    position: absolute;
    bottom: -72px;
    right: -100px;
    z-index: 999;
    img {
        width: 180px;
    }
}

//modified
///ourstory-page
.lst-bullet {
    li {
        list-style-type: disc;
    }
}

.option-desc1 {
    background-color: #f4efcf;
    border-radius: 100px;
    padding: 40px 110px;
    height: 485px;
    position: relative;
    z-index: 99;
    width: 75%;
    margin-left: 144px;
    z-index: 0;
}

.ourstory-bir1-2 {
    position: absolute;
    top: 16%;
    left: 12%;
    img {
        width: 65px;
    }
}

///ourteam
.ourteam-page {
    background-image: url('../img/ourteam/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    p {
        font-size: 16px;
        margin-left: 10px;
        line-height: 22px;
        margin: 0;
        color: #63463d;
        font-weight: 600;
    }
    .main-head {
        color: #fffdf9;
        font-size: 40px;
        margin: 0 16px;
        padding-bottom: 30px;
    }
}

.our-team-content1 {
    background-color: #fffdf9;
    padding: 80px;
    border-radius: 86px;
    position: relative;
    .sub-head {
        color: #e45854;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #e45854;
    }
}

.bird1-team {
    position: absolute;
    bottom: -130px;
    right: 0;
    img {
        width: 690px;
    }
}

.mgt150 {
    margin-top: 150px;
}

.our-team-content2 {
    background-color: #fffdf9;
    padding: 70px;
    border-radius: 90px;
    position: relative;
    .sub-head {
        color: #e9c31e;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #61230d;
    }
}

.bird2-team {
    position: absolute;
    top: 200px;
    left: 0;
    img {
        width: 240px;
    }
}

.bird3-team {
    position: absolute;
    bottom: -50px;
    right: -76px;
    img {
        width: 200px;
    }
}

.bird4-team {
    position: absolute;
    top: 400px;
    right: 0;
    img {
        width: 600px;
    }
}

.our-team-content5 {
    background-color: #fffdf9;
    padding: 55px 70px;
    border-radius: 90px;
    position: relative;
    span {
        font-family: "Hind-Regular";
        font-size: 35px;
    }
    .sub-head {
        color: #2ea480;
        font-size: 42px;
        margin: 0;
    }
    .post {
        font-size: 20px;
        color: #2ea480;
    }
}

.bird5-team {
    margin-top: -50px;
    padding-bottom: 20px;
    img {
        width: 700px;
    }
}

.sec-align {
    position: relative;
}

.sec-align1 {
    position: relative;
    padding-bottom: 215px;
}

///programmes
.btn-default1.active:hover {
    background-color: none!important;
}

.option-sec {
    position: absolute;
    top: 100px;
    z-index: 999;
    .btn-default1 {
        display: block;
        width: 148px;
        color: #fff;
        background-color: #c54241;
        padding: 5px 15px;
        border: none;
        margin: 10px -4px;
        border-radius: 20px 0 0 20px;
        font-size: 20px;
        text-align: left;
        &:active {
            &:focus {
                color: #fff;
                background-color: #dd701f;
                border-color: transparent;
                outline: none;
            }
        }
        &:focus {
            color: #fff;
            background-color: #dd701f;
            border-color: transparent;
            outline: none;
        }
    }
    .active {
        color: #fff;
        background-color: #dd701f;
        border-color: transparent;
    }
}

.option-desc {
    background-color: #f4efcf;
    border-radius: 100px;
    padding: 40px 110px;
    height: 420px;
    position: relative;
    z-index: 99;
    width: 75%;
    margin-left: 144px;
}

.prog-flower {
    position: absolute;
    left: 120px;
    top: -43px;
    img {
        width: 150px;
    }
}

//accordnew
.ourprogrammes-page1 {
    background-image: url('../img/programmes/mother.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.ourprogrammes-page2 {
    background-image: url('../img/programmes/pre-nursery.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.ourprogrammes-page4 {
    background-image: url('../img/programmes/nursery.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.ourprogrammes-page3 {
    background-image: url('../img/programmes/daycare.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.sec-holder {
    border-radius: 50px;
    background-color: #fff;
}

.sec-style {
    h2 {
        color: #dd701f;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    p {
        font-size: 15px;
        line-height: 1.4;
        color: #63463d;
        font-weight: 600;
        font-family: "Hind-Regular";
    }
}

.pdt80 {
    padding-top: 80px;
}

.mgl-135 {
    margin-left: -135px;
}

.prog-bir1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    img {
        width: 700px;
    }
}

.prog-bir2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    img {
        width: 800px;
    }
}

.prog-bir2-2 {
    position: absolute;
    left: 15%;
    bottom: 10%;
    img {
        width: 70px;
    }
}

.prog-bir1-2 {
    position: absolute;
    top: 13%;
    left: 12%;
    img {
        width: 110px;
    }
}

.prog-bir3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    img {
        width: 570px;
    }
}

.prog-bir4 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    img {
        width: 620px;
    }
}

//teachers
.ourteachers-page {
    background-image: url('../img/teacher/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.pdt200 {
    padding-top: 200px;
}

.bird1-teacher {
    position: absolute;
    left: 0;
    top: 80px;
    img {
        width: 750px;
    }
}

.our-teachers {
    background-color: #fffdf9;
    padding: 50px;
    border-radius: 70px;
    position: relative;
    padding-bottom: 70px;
    .sub-head {
        color: #dd701f;
        font-size: 42px;
        margin: 0;
        padding-bottom: 15px;
    }
    p {
        color: #40180c;
        font-weight: 600;
        font-size: 16px;
    }
}

///art attack
.artattack-page {
    background-image: url('../img/art/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .sub-head {
        color: #fffdf9;
        font-size: 42px;
        margin: 0;
        padding-bottom: 15px;
        margin-left: 50px;
    }
}

.bird1-art {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
        width: 800px;
    }
}

// .artattack{
//   background-color: #fffdf9;
//   border-radius: 5px;
//   position: relative;
// }
.img1 {
    height: 160px;
    width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    // margin: 0 5px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,
        -50%));
    }
}

.wd1 {
    width: 129px;
}

.wd2 {
    width: 279px;
}

.wd3 {
    width: 279px;
}

.wd4 {
    width: 429px;
}

.wd5 {
    width: 438px;
}

.wd6 {
    width: 142px;
}

.wd7 {
    width: 396px;
}

.wd8 {
    width: 141px;
}

.pdl24 {
    padding-left: 24px;
}

.pic-holder {
    background-color: #fff;
}

.artattack {
    //   padding: 5px;
    // line-height: 1.0;
    margin-top: 5px;
}

// .artattack1{
//   padding-bottom: 4px;
// line-height: 1.0;
// }
.butterfly-art {
    position: absolute;
    top: -80px;
    z-index: 9;
    left: -70px;
    img {
        width: 105px;
    }
}

.fly-art {
    position: absolute;
    top: -130px;
    right: 0;
    img {
        width: 75px;
    }
}

//remove this to set in local
.mgr5 {
    margin-right: 5px;
}

.pic-holder {
    position: relative;
}

.flower-art {
    position: absolute;
    top: -109px;
    right: 54px;
    z-index: -1;
    img {
        width: 244px;
    }
}

//gallerycomingsoon
.gallery-page {
    background-image: url('../img/gallery/art-attack.png');
    // background-image: url('../img/gallery/gallerybackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    p {
        color: #fffdf9;
        font-weight: 500;
        font-size: 20px;
        margin: 0;
    }
    .sub-head {
        color: #fffdf9;
        font-size: 42px;
        margin: 0;
        position: relative;
        top: 30px;
        left: -20px;
    }
    .bfly {
        margin-left: -40px;
        img {
            width: 130px;
        }
    }
    .flexslider {
        margin: 0;
        border: none;
        .flex-control-nav {
            display: none;
        }
    }
    .flexslider {
        li {
            .img-border {
                margin: 0;
            }
        }
        .flex-direction-nav {
            .flex-next,
            .flex-prev {
                opacity: 1;
                &:focus {
                    outline: 0;
                }
            }
        }
        .col {
            padding: 0;
        }
    }
}

.flex-direction-nav {
    .flex-next {
        right: -50px;
        opacity: 1;
    }
    .flex-prev {
        left: -62px;
    }
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: -50px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: -62px;
}

.flex-direction-nav a:before {
    color: #fff;
    text-shadow: none;
}

.media-image {
    margin: 5px;
}

.flex-direction-nav .flex-next,
.flex-prev {
    padding: 10px 12px;
}

.flex-direction-nav .flex-disabled {
    opacity: 1 !important;
}

.gallery-bird {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 72%;
    img {
        width: 100%;
    }
}

.butterflie {
    position: absolute;
    top: -20%;
    left: -11%;
    z-index: 99;
}

.blackflie {
    position: absolute;
    top: 142px;
    right: 175px;
    z-index: 99;
}

.coming-sec {
    padding-top: 20px;
}

.pdt100 {
    padding-top: 100px;
}

.pos-set2 {
    img {
        width: 500px;
        margin: 0 auto;
    }
}

///contact us
.pdt80 {
    padding-top: 80px;
}

.cont-width {
    width: 1200px;
}

.contact-sec1 {
    background-color: #fefcec;
    border-radius: 116px;
    position: absolute;
    left: 0;
    bottom: -30px;
    padding: 41px 52px;
    color: #63463d;
    a {
        text-decoration: none;
        color: #63463d;
    }
}

.contact-background {
    background-image: url("../img/contact/background-contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    h3 {
        color: #fefcec;
        font-size: 50px;
        margin: 0;
        padding-bottom: 15px;
        margin-left: 50px;
    }
    .msg-form {
        padding-top: 100px;
    }
}

.fdb-form {
    .know-more {
        padding: 5px 20px;
        font-size: 20px;
        background-color: #e9c31e;
        border-radius: 50px;
        color: #40180c;
        margin-bottom: -80px;
        &:active,
        &:focus {
            outline: none;
        }
    }
    background-color: #fefcec;
    padding: 40px 80px;
    border-radius: 100px;
    position: relative;
    margin-top: 30px;
    input {
        border: 0;
        border-bottom: 1px solid #2c2d3d;
        background-color: transparent;
    }
    textarea {
        background-color: #f6f4e2;
        border: 0;
    }
}

.brdcontact {
    position: absolute;
    top: -80px;
    right: -120px;
    img {
        width: 300px;
    }
}

#map {
    height: 100%;
    img {
        opacity: 1;
    }
}

.thankyou {}

.contact-form {}

//contact tab
.side-btn {
    cursor: pointer;
}

#slideout {
    position: fixed;
    // top: 104px;
    top: 30%;
    right: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 99;
}

.footer-btm {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#slideout_inner {
    .form-inline .form-group {
        margin-bottom: 10px;
    }
    .fdb-form1 {
        height: 180px;
        background-color: #4c3308;
        padding: 40px 20px;
        border-radius: 100px 0 0 100px;
        position: relative;
        margin-top: 0px;
        float: right;
        cursor: pointer;
        .fa {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 15px;
            color: #fff;
        }
        .know-more {
            padding: 5px 20px;
            font-size: 20px;
            background-color: #e9c31e;
            border-radius: 50px 0 0 50px;
            color: #40180c;
            position: absolute;
            right: 0;
            bottom: -15px;
            border: none;
            &:active,
            &:focus {
                outline: none;
            }
        }
        input {
            border: 0;
            background-color: transparent;
            padding-right: 30px;
            margin: 0 10px;
            border-bottom: 1px solid #fff;
            color: #fff;
        }
         ::-webkit-input-placeholder {
            color: #fff;
            opacity: 1 !important;
        }
         :-moz-placeholder {
            color: #fff;
        }
         ::-moz-placeholder {
            color: #fff;
        }
         :-ms-input-placeholder {
            color: #fff;
        }
        textarea {
            background-color: #f6f4e2;
            border: 0;
        }
    }
    position: fixed;
    top: 30%;
    right: -514px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 999;
}

// #slideout:active {
//     right: 250px;
//
//     img {
//         display: none;
//     }
// }
//
// #slideout:active #slideout_inner {
//     right: 0;
// }
.form-out {
    img[alt="Feedback"] {
        display: none;
    }
    #slideout_inner {
        right: 0;
        top: 30%;
        @include transition(all 300ms linear);
    }
}

footer {
    height: 50px;
    background: #111;
    padding: 16px 0;
    font-family: "Hind-Regular";
    p {
        color: #fff;
        font-family: "Hind-Regular";
    }
    a {
        font-family: "Hind-Regular";
        color: #fff;
        &:hover,
         :focus {
            color: darken(#fff, 20%);
            text-decoration: none;
        }
    }
}

.thankyou {
    min-height: 350px;
    position: relative;
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%)!important;
    -ms-transform: translate(-50%, -50%)!important;
    -o-transform: translate(-50%, -50%)!important;
    transform: translate(-50%, -50%)!important;
}

.modal-content {
    padding: 20px 0;
    border-radius: 50px;
}

.modal-thankyou {
    p {
        font-size: 16px;
        margin: 0;
    }
    .know-more {
        padding: 5px 50px;
        font-size: 20px;
        background-color: #e9c31e;
        border-radius: 50px;
        color: #40180c;
        margin-bottom: -80px;
    }
}

.scroll-sec {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 72px;
    @include transform(translateX(-50%));
}

// .form-in { @include transform(translateX(0px)); }
//bootstrap forms

/* Start writing sass here */

@import "fancybox-override";
@import "mobile";
