<div class="artattack-page">
    <div class="sec-align get-center">
        <div class="container">
          <h3 class="text-uppercase font-dkcat text-left sub-head">Art Attack</h3>

<div class="pic-holder">
  <div class="butterfly-art">
    <img src="img/art/butterfly.png" alt="" class="img-responsive">
  </div>
  <div class="flower-art">
    <img src="img/art/flower.png" alt="" class="img-responsive">
  </div>
  <div class="fly-art">
      <img src="img/art/fly.png" alt="" class="img-responsive">
    </div>
  <div class="row">
      <div class="col-md-12">
          <div class="artattack pic-holder text-center">

  <div class="display-inline">
    <div class="img1 wd1 mgr5">
      <img src="img/art/img1.png" alt="">
    </div>
  </div>
  <div class="display-inline">
    <div class="img1 wd2 mgr5">
      <img src="img/art/img2.png" alt="">
    </div>
  </div>
  <div class="display-inline">
    <div class="img1 wd3 mgr5">
      <img src="img/art/img3.png" alt="">
    </div>
  </div>
  <div class="display-inline">
    <div class="img1 wd4">
      <img src="img/art/img4.png" alt="">
    </div>
  </div>
  </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="artattack1 text-center pic-holder">

  <div class="display-inline">
    <div class="img1 wd5 mgr5">
      <img src="img/art/img5.png" alt="">
    </div>
  </div>
  <div class="display-inline">
    <div class="img1 wd6 mgr5">
      <img src="img/art/img6.png" alt="">
    </div>
  </div>
  <div class="display-inline">
    <div class="img1 wd7 mgr5">
      <img src="img/art/img7.png" alt="">
    </div>
  </div>
  <div class="display-inline">
    <div class="img1 wd8">
      <img src="img/art/img8.png" alt="">
    </div>
  </div>
  </div>
      </div>
  </div>
</div>
        </div>
    </div>
    <div class="bird1-art">
        <img src="img/art/bird1.png" alt="" class="img-responsive">
    </div>
</div>
