<div auto-heightfixed class="map-sec pdt80">
    <div id="map"></div>
</div>
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.0702035736421!2d72.94908835256884!3d19.18293341350765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc3ddff4e2f844c18!2sThe+Weavers+Preschool!5e0!3m2!1sen!2sin!4v1473409582309"
width="100%" height="100%" frameborder="0" style="border:0" scroll-wheel="false"; allowfullscreen></iframe> -->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="contact-sec1">
                <h3 class="text-uppercase font-dkcat">contact us</h3>
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+9912225642525"> +91 22 2564 2525</a> | <a href="tel:+918828299299"> +91 88282 99299</a></li>

                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@weaverspreschool.com">info@weaverspreschool.com</a></li>
                    <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.weaverspreschool.com" target="_blank">www.weaverspreschool.com</a></li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p class="mgl5">The Weavers Preschool,</p>
                        <p class="para-set"> Bhakti Marg, Opposite Balrajeshwar Temple,</p>
                        <p class="para-set">Mulund (West) - Mumbai 400080.</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contact-background">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="msg-form">
                    <h3 class="text-uppercase font-dkcat text-left">Leave A Message</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                                              <form name="contactUsForm" ng-submit="submitForm(formData)" class="fdb-form text-center">
                          <div class="brdcontact">
                            <img src="img/contact/letter-brd.png" alt="" class="img-responsive">
                          </div>
                            <div class="form-group">
                                <input type="text" ng-model="formData.name" name="name" class="form-control" id="usr" placeholder="Name" required> 
                            </div>
                            <div class="form-group">
                                <input type="email" ng-model="formData.email" name="email" class="form-control" id="email" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="formData.mobile" name="mobile" class="form-control" id="mobile" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <textarea ng-model="formData.comment" name="comment" class="form-control" rows="5" id="comment" placeholder="Note" required></textarea>
                            </div>
                        <div class="sub-btn text-center">
                            <button type="submit" class="btn btn-default know-more font-dkcat">Submit</button>
                        </div>
                                            <div class="thankyou" ng-show="flags.thankyou">
                        <h2>Thank you for getting in touch!</h2>
                    </div>
                                            </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
