<div class="fullpage">
  <section auto-height class="section one" id="" ng-include="section.one"></section>
  <section auto-height class="section two" id="" ng-include="section.two"></section>
  <section auto-height class="section three" id="" ng-include="section.three"></section>
  <section auto-height class="section four" id="" ng-include="section.four"></section>
  <section auto-height class="section five" id="" ng-include="section.five"></section>
  <section auto-height class="section six" id="" ng-include="section.six"></section>
  <section auto-height class="section seven" id="" ng-include="section.seven"></section>
</div>
