<div class="fullpage">
  <section class="section one relate" id="" ng-include="section.one"></section>
  <section class="section two relate" id="" ng-include="section.two"></section>
  <section class="section three relate" id="" ng-include="section.three"></section>
  <section class="section four relate" id="" ng-include="section.four"></section>
  <section class="section five relate" id="" ng-include="section.five"></section>
  <section class="section six relate" id="" ng-include="section.six"></section>
  <section class="section seven" id="" ng-include="section.seven"></section>
</div>
