<div class="environment-page pdt150 min-hght">

    <!-- <div class="text-center">
  <div class="enviornment-sec text-left pdb150">
      <h3 class="text-uppercase font-dkcat text-center">Environment</h3>
      <p class="text-justify font-hind-regular font-regular">
        An overview of the environment:
      </p>
      <ul class="desc-list">
        <li>Almost no corners.</li>
        <li>All electrical points auto close.</li>
        <li>Watchmen guarding the gates at all times.</li>
        <li>Spacious classrooms.</li>
        <li>Great outdoor space.</li>
      </ul>
      <p class="sec-head">Pretend Play:</p>
      <p>An area your young one can become a chef, an actor, an ice cream vendor or wherever their imagination takes them -  creative thinking and imagination take wings here.
      </p>
  <p class="sec-head">Reading Corner:</p>
  <p>
  A peaceful and enriching place where kids would want to go and read –and it will instil in them the love of reading as they enjoy flipping the pages of their favourite book.
  </p>
  <p class="sec-head">The Multipurpose:</p>
  <p>
  A  place where children will gather for a story session or to see a video or just go up on the stage showcase their talent. A tool to help them get over their stage fright if any. The outdoor area is what sets The Weavers Preschool apart from any of their competitors.
  </p>
  <ul class="features">
  <li>
  Sand-pit for building their unconquerable castle.
  </li>
  <li>
  Water play area to fulfil their ocean fantasy.
  </li>
  <li>
  Large running space for their imagination to run wild.</li>
  <li>
  Plant nursery for nurturing life and and creating environmental awareness.</li>
  <li>
  Music and movement for finer brain development and understanding rhythm and beat.
  </li>
  <li>
  We also have art corners for finer emotional and aesthetic.
  </li>
  <li>
  Development and creative expression.</li>
  </ul>
  </div>
</div> -->
    <div class="container">


        <div class="tab-part" ng-class="{'pdb150':tab == 1,'pdb70':tab == 2}">
            <!-- <div class="row"> -->
            <!-- <div class="col-md-3"> -->
            <div class="option-sec font-dkcat display-inline">
                <button type="button" class="btn btn-default1" ng-click="tab = 1" ng-class="{'active':tab == 1}">Our Approach</button>
                <button type="button" class="btn btn-default1" ng-click="tab = 2" ng-class="{'active':tab == 2}">Environment</button>
            </div>
            <!-- </div> -->
            <!-- <div class="col-md-9 mgl-135"> -->

            <!-- <div class="text-center"> -->
            <div class="option-desc2 text-justify display-inline">
                <div class="mother-toddler sec-style" ng-if="tab == 1">
                    <p class="font-hind-regular text-justify">
                        <h2 class="text-uppercase font-dkcat text-center">Our Approach</h2>
                        <p>
                            We approach preschool education with all the seriousness and sanctity that it warrants without taking away the enjoyment of the learning process. Today’s children need experiential learning where every sense comes into play for optimal development. With our philosophy of ‘Every child’s every aspect is important’, the school focuses on the all-round development of each student.  

                        </p>
                        <p>While keeping in mind that each child is different, every child will be nurtured to excel academically as well as encouraged to develop their talents in art, music, sports and other extra curricular pursuits. 
</p>
<p>Our program covers six areas of development:</p>
                        <ul>
                            <li>Personal, Social and Emotional Development</li>
                            <li>Language Development</li>
                            <li>Creative Development
</li>
                            <li>Physical Development
</li>
                            <li>Mathematical Understanding
</li>
                            <li>Knowledge and Understanding of the World
</li>
                        </ul>
                        <p>In today's knowledge-led society, The Weavers Preschool is committed to the passion of imparting education that empowers.
</p>
                </div>
                <div class="pre-nursery sec-style lst-bullet" ng-if="tab == 2">
                    <h2 class="text-uppercase font-dkcat text-center">Environment</h2>
                  <ul class="environ-desc">
                    <li>Child-friendly classrooms – for safe movement.
</li>
                    <li>Safe and secure environment with CCTV cameras – to learn without fear.</li>
                    <li>Caring and nurturing teachers – to joyfully guide the learning process.
</li>
                    <li>Large outdoor play area – for gross motor development, balance and co-ordination.
</li>
                    <li>Sand play and water play – for exploration, discovery and learning scientific concepts along with fine motor skills and tactile development. 
</li>
                    <li>Plant nursery – for nurturing life and environmental awareness. 
</li>
                    <li>Reading corner and role-play areas – for creativity and imagination.
</li>
                    <li><span class="block">Art area – for emotional and aesthetic development and</span><span>creative expression.</span></li>
                    <li><span class="block">Music and movement – for finer brain development</span> and understanding rhythm and beat.</li>
                  </ul>

                </div>
                </p>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
    <div class="bird-write" ng-if="tab == 1">
        <img src="img/environment/birdwriteland.png" alt="" class="img-responsive">
    </div>
  <div class="flower" ng-if="tab == 1">
        <img src="img/environment/flower1.png" alt="" class="img-responsive">
    </div>
    <div class="swimbird" ng-if="tab == 2">
        <img src="img/environment/birdswim.png" alt="" class="img-responsive">
    </div>
</div>
