<div class="ourprogrammes-page1 pdt150"  ng-class="{'ourprogrammes-page1':tab == 1,'ourprogrammes-page2':tab ==2,'ourprogrammes-page3':tab ==3,'ourprogrammes-page4':tab ==4}">

    <div class="container">
        <div class="prog-bir1" ng-if="tab == 1">
            <img src="img/programmes/bird1.png" alt="" class="img-responsive">
        </div>
        <div class="prog-bir1-2" ng-if="tab == 1">
            <img src="img/programmes/butterfly.png" alt="" class="img-responsive">
        </div>
        <div class="prog-bir2" ng-if="tab == 2">
            <img src="img/programmes/bird2.png" alt="" class="img-responsive">
        </div>

        <div class="prog-bir2-2" ng-if="tab == 2">
            <img src="img/programmes/fly.png" alt="" class="img-responsive">
        </div>
        <div class="prog-bir3" ng-if="tab == 3">
            <img src="img/programmes/bird3.png" alt="" class="img-responsive">
        </div>
        <div class="prog-bir4" ng-if="tab == 4">
            <img src="img/programmes/bird4.png" alt="" class="img-responsive">
        </div>

        <div class="tab-part">
            <!-- <div class="row"> -->
            <!-- <div class="col-md-3"> -->
            <div class="option-sec font-dkcat">
                <button type="button" class="btn btn-default1" ng-click="tab = 1" ng-class="{'active':tab == 1}">Mother Toddler</button>
                <button type="button" class="btn btn-default1" ng-click="tab = 2" ng-class="{'active':tab == 2}">Pre-Nursery</button>
                <button type="button" class="btn btn-default1" ng-click="tab = 4" ng-class="{'active':tab == 4}">Nursery</button>
                <button type="button" class="btn btn-default1" ng-click="tab = 3" ng-class="{'active':tab == 3}">Day Care</button>
            </div>
            <!-- </div> -->
            <!-- <div class="col-md-9 mgl-135"> -->
            <div class="prog-flower" ng-if="tab == 2">
                <img src="img/programmes/flower2.png" alt="" class="img-responsive">
            </div>
            <div class="option-desc">
                <div class="mother-toddler sec-style" ng-if="tab == 1">
                    <p class="font-hind-regular text-justify">
                        <h2 class="text-uppercase font-dkcat text-center">Mother Toddler</h2>
                        <p>
                            With research pointing to the fact that 80% of brain development takes place by the age of five you cannot start early enough. Our Mother Toddler programme is designed keeping in mind the kind of exposure children require to develop their motor skills and creativity. It gives them broad exposure to a range of joint activities with mothers to instil the idea that learning is fun and that it happens through all the senses.

                        </p>
                </div>

                <div class="pre-nursery sec-style" ng-if="tab == 2">

                    <h2 class="text-uppercase font-dkcat text-center">Pre-Nursery</h2>
                    <p>
                        Pre-Nursery is the first experience in the long educational journey of every child. It is here that the seeds of happy schooling are sowed.

                    </p>
                    <p>At the Weavers Preschool we will ensure that this journey starts off on the right foot, steeped in engaging activities to develop a positive attitude towards learning. Children will learn about the world around them and the basic numbers and letters of the alphabet. Music and movement form a large part of the pre-nursery day. Gross and Fine motor development also happen with the help of extensive outdoor and indoor activities. Pre-reading and pre-writing activities make for a soft introduction to academics.
</p>
                </div>
                <div class="daycare sec-style" ng-if="tab == 3">
                    <h2 class="text-uppercase font-dkcat text-center">Day Care</h2>
                    <p>
                       A place where children find the comfort of their home and the cosiness of their room! There are enough activities to keep children busy when they need to be and rested when they are tired. 
                    </p>
                </div>
                <div class="nursery sec-style" ng-if="tab == 4">

                    <h2 class="text-uppercase font-dkcat text-center">Nursery</h2>
                    <p>
                       At this age children start becoming social. They begin to enjoy the company of their peers and interact more with each other. Social engagement is stepped up and children are engaged in small and large group activities. This helps create an environment for learning the nuances of social behaviour – manners, etiquettes and acceptable and unacceptable behaviours. 
                    </p>
                    <p>Children instinctively start exploring various mediums to express their creativity. Information is provided for a deeper understanding of the world around them. As they learn and sing new songs and rhymes during music and movement, they are encouraged to explore musical instruments that create different sounds. Pre-reading and pre-writing activities advance to the next level and pre-mathematics is initiated.
</p>
                </div>
                </p>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
