<div class="ourprogrammes-page pdt150">
  <div class="container">
    <div class="tabordion">
        <section id="section1">
            <input type="radio" name="sections" id="option1" checked>
            <label for="option1">Mother Toddler</label>
            <article>
              <div class="sec-holder">
                  <h2 class="text-uppercase font-dkcat text-left">Mother Toddler</h2>
                <p class="font-hind-regular">With research pointing to the fact that 80% of the brain development takes place by the age of 5 you cannot start early enough. Our Mommy and Me programme is designed keeping in mind the kind of exposure children require to develop their
                    Motor Skills and their creativity, giving them an exposure with loads of activities along with their mommies to instil in them that learning is fun and learning happens through all their senses.
                </p>
              </div>
            </article>
        </section>
        <section id="section2">
            <input type="radio" name="sections" id="option2" checked>
            <label for="option2">Pre-Nursery</label>
            <article>
                <h2>Pre-Nursery</h2>
                <p>Pre Nursery is the first exposure in the long educational journey of every child. It is here that the seeds of a happy schooling are sowed. Thus Pre Nursery is an all important year. At Weavers we will ensure this journey has the right
                    beginning and is steeped in engaging activities to develop a positive attitude towards learning. Children will learn about the world around them and the basic numbers and letters of the alphabet. Music and movement forms a large part
                    of the pre nursery day Large fine and motor development also happens with the help of our large number of outdoor and indoor activities.
                </p>
            </article>
        </section>
        <section id="section3">
            <input type="radio" name="sections" id="option3" checked>
            <label for="option3">Day Care</label>
            <article>
                <h2>Day Care</h2>
                <p>A place where children find the comfort of their home and the cosiness of their room! There are enough activities to keep children busy when they need to be and rested when they require rest.
                </p>
            </article>
        </section>
        <section id="section4">
            <input type="radio" name="sections" id="option4" checked>
            <label for="option4">Nursery</label>
            <article>
                <h2>Nursery</h2>
                <p>At this age children start becoming social and enjoy the company of their friends and interact more with each other. Social development is stepped up and children are engaged in small and large group activities. This helps create an environment
                    for learning the nuances of social behaviour – manners, etiquettes and acceptable and unacceptable behaviour. They start exploring various mediums to express their creativity. Information is provided for a deeper understanding of things
                    around them. As they learn and sing new songs and rhymes during music and movement they also explore musical instruments that create different sounds. Pre-reading and pre-writing activities become complex and pre-mathematics is added
                </p>
            </article>
        </section>
    </div>
</div>
</div>
