<div class="ourstory-page pdt150">
    <div class="container">
        <div class="fly-sec1">
            <img src="img/ourstory/fly1.png" alt="" class="img-responsive">
        </div>
        <div class="fly-sec2">
            <img src="img/ourstory/fly2.png" alt="" class="img-responsive">
        </div>
        <div class="fly-sec3">
            <img src="img/ourstory/fly1.png" alt="" class="img-responsive">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="our-story-content">
                  <div class="book-bird">
                      <img src="img/ourstory/bird1.png" alt="" class="img-responsive">
                  </div>
                    <h3 class="text-uppercase font-dkcat text-center main-head">Our Story</h3>
                    <p class="text-justify font-hind-regular font-regular">
                        A certain freedom needs to be given for kids to explore, discover and find out about things themselves. I also felt that it is very essential to integrate outdoor learning along with classroom learning. Within a community of schools we wanted to make
                        some space for some space for children. My husband and I wanted to create an educational environment that we would be honoured to send our child to.That’s when we came up with the idea of The Weavers Preschool. The Weavers Preschool,
                        derives its name from the weaver bird. On close observation of the bird’s behaviour and survival skills you would find  that they are social and gregarious birds. They move often and build nests with a distinct intelligence- as
                        an intricate net of connections that serves to provide safety, adaptability and ease of migrating to new terrains.We at The Weavers Preschool not only want our wee kids to be as smart, artistic and intricate as the weaver bird
                        but we also want to teach them how to fly freely and confidently into the real world.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-uppercase font-dkcat text-left sub-head">Our Vision</h3>
                            <ul>
                                <li>Is to nurture and enhance abilities, talents and skills of every child.</li>
                                <li>Is to provide a variety of experiences that will enrich every child’s life and instill in them a sense of self-worth. </li>
                                <li>Is to ignite a sense of curiosity, create learners out of the children.</li>
                                <li>Is to provide a firm foundation and pave a path for enriching educational experiences and lifelong learning for a strong and competent future generation.</li>
                                <li>Is to impart values, morals, manners and etiquettes to create a healthy society with well rooted social structure.</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-uppercase font-dkcat text-left sub-head">Our Mission</h3>
                            <ul>
                                <li>To frame a developmentally appropriate curriculum that respects and nurtures every child.</li>
                                <li>To adopt a dynamic approach that expose children to learning experiences in academics, art, music, games and sports and to a variety of cultures.</li>
                                <li>To ignite children’s intellectual capacities in all areas to make most of the preschool years that will support them on their journey of learning.</li>
                                <li>To help them build caring and trusting relationships thus creating a strong emotional and social base.</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default pull-right know-more font-dkcat">Our teachers</button>
                    <button type="button" class="btn btn-default pull-right know-more font-dkcat">Our team</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lake">
        <img src="img/ourstory/lake.png" alt="" class="img-responsive">
    </div>
</div>
