<div class="ourteachers-page min-hght">
    <div class="sec-align get-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="our-teachers">
                        <h3 class="text-uppercase font-dkcat text-left sub-head text-center">Our Teachers</h3>
                      <p class="text-justify font-hind-regular font-regular">Believe in supporting construction of knowledge by Developmentally Appropriate, Activity Oriented, Play Based Best Practices. Believe children need the freedom and time to play. It is not a luxury but a necessity. Believe that education is an ever evolving experience and that the role educator is to teach – not just subjects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bird1-teacher">
            <img src="img/teacher/bird1.png" alt="" class="img-responsive">
        </div>
    </div>
</div>
