<div class="ourteam-page pdt150">
  <div class="sec-align">
        <div class="container">
              <h3 class="text-uppercase font-dkcat text-left main-head">Our Team</h3>
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <div class="our-team-content1">
                        <h3 class="text-uppercase font-dkcat text-left sub-head">Mansi Shah</h3>
                        <span class="post font-hind-regular font-medium">Founder</span>
                        <p class="text-justify font-hind-regular font-regular">The founder and brainchild behind The Weavers Preschool, Mansi did her BA in Economics from University of California at San Diego, USA and later Masters in Economics from University of Manchester, UK.</p>
                        <p class="text-justify font-hind-regular font-regular">After working in various corporates like Johnson & Johnson in Singapore and Alliance World in Chandigarh she found her real calling - teaching. She taught at Tridha –a Waldorf school which is one of the most alternative schools
                            of Mumbai. Tridha taught her a lot about the education industry and thus she decided to start her own venture in education – The Weavers Preschool along with her husband Kaivalya Shah.</p>
                        <p class="text-justify font-hind-regular font-regular">Kaivalya fully supports her dream of creating an international standard preschool that will impart knowledge that is beyond textbooks and learning that is beyond classrooms. They believe that kids should play, have fun, enjoy and
                            while they are at it, learning happens.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bird1-team">
            <img src="img/ourteam/bird1.png" alt="" class="img-responsive">
        </div>
    </div>

    <div class="sec-align">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="our-team-content2 mgt150">
                        <h3 class="text-uppercase font-dkcat text-left sub-head">Purnima Shetye</h3>
                        <span class="post font-hind-regular font-medium">Mentor</span>
                        <p class="text-justify font-hind-regular font-regular">The mentor, teacher trainer and curriculum developer for The Weavers Preschool, Purnima has over 36 years of experience in the field of education. She has completed her Bachelor of Arts and Bachelor of Education from the University
                            of Poona – Pune. She has also successfully completed a TEFL – Teaching English as Foreign Language course.</p>
                        <p class="text-justify font-hind-regular font-regular">She started her journey as an educator soon after she completed her graduation in 1978. Since then she has taught all levels – from Pre-Nursery to Grade XII. Her vast experience from various schools and institutions in Nasik, PCMC
                            and Pune, helped her successfully set up National and International pre-schools, Child Care and Activity Centres and a CBSE Grade-Level school.</p>
                        <p class="text-justify font-hind-regular font-regular">She combines leadership qualities with innate people skills, management skills and excellent communication and interpersonal skills. As a principal of National and International pre-schools, she has developed and conducted various
                            training sessions for schools besides  facilitating  numerous workshops for parents and students on many child-centric topics along with Professional Development programs for teachers.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bird2-team">
            <img src="img/ourteam/bird2.png" alt="" class="img-responsive">
        </div>
    </div>

    <div class="sec-align">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div class="our-team-content3 mgt150">
                        <h3 class="text-uppercase font-dkcat text-left sub-head">XYZ</h3>
                        <span class="post font-hind-regular font-medium">Preschool Head</span>
                        <p class="text-justify font-hind-regular font-regular">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bird3-team">
            <img src="img/ourteam/bird3.png" alt="" class="img-responsive">
        </div>
    </div>


    <div class="sec-align">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <div class="our-team-content4 mgt150">
                        <h3 class="text-uppercase font-dkcat text-left sub-head">Chetan Shah</h3>
                        <span class="post font-hind-regular font-medium">Advisor</span>
                        <p class="text-justify font-hind-regular font-regular">Chetan Shah, is a B. Tech in Civil Engineering from IIT Bombay and M.S in Structural Engineering from the University of Houston, USA. People who know him say that he can give most mathematicians a run for their money. He has mentored
                            various start-ups from a furniture company to a steel trading company to a stock market brokerage company. He is advising Mansi and Kaivalya to make this venture a success and take this venture pan Maharashtra.</p>
                        <p class="text-justify font-hind-regular font-regular"> Chetan Shah has been on the board of SMPR School, a K12 school in Mulund and is often called in the prestigious Welingkar Institute of Management as a guest lecturer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bird4-team">
            <img src="img/ourteam/bird4.png" alt="" class="img-responsive">
        </div>
    </div>


    <div class="sec-align1">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-1">
                    <div class="our-team-content5 mgt150">
                        <h3 class="text-uppercase font-dkcat text-left sub-head">Chetan Shah <span>&</span></h3>
                        <h3 class="text-uppercase font-dkcat text-left sub-head"> Ramnikbhai Z Shah</h3>
                        <span class="post font-hind-regular font-medium">Trustee</span>
                        <p class="text-justify font-hind-regular font-regular">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bird5-team">
            <img src="img/ourteam/bird5.png" alt="" class="img-responsive">
        </div>
    </div>

</div>
