<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="main-hd">
            <div class="container text-center">
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <!-- <div ng-include="template.menu" class="template menu"></div> -->
                    <ul class="menu">
                        <li><a ui-sref="ourstory">Our Story</a></li>
                        <li><a ui-sref="ourteam">Our Team</a></li>
                        <li><a ui-sref="ourprogrammes">Our Programmes</a></li>
                        <li>
                            <a ui-sref="home"><img src="img/sec1/name1.png" alt="" class="img-responsive"></a>
                        </li>
                        <li><a ui-sref="environment">Environment</a></li>
                        <li><a ui-sref="home">Gallery</a></li>
                        <li><a ui-sref="home">Contact Us</a></li>
                    </ul>
                    <div class="social display-inline">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://wohlig.com" target="_blank">
                            <span><i class="fa fa-facebook" aria-hidden="true"></i>
                            </span>
                          </a>
                        <a href="https://twitter.com/intent/tweet?url=http://wohlig.com" target="_blank">
                          <span><i class="fa fa-twitter" aria-hidden="true"></i>
                          </span>
                        </a>
                        <a href="#" target="_blank">
                          <span><i class="fa fa-instagram" aria-hidden="true"></i>
                          </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="curve">

        </div>
    </nav>

</header>
