 <header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="main-hd">
            <div class="container text-center">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a ui-sref="home"><img src="img/sec1/name1.png" alt="" class="img-responsive navbar-brand visible-xs"></a>
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <!-- <div ng-include="template.menu" class="template menu"></div> -->
                  <ul class="menu nav navbar-nav">
                        <li><a ui-sref="aboutus">About Us</a></li>
                        <li><a ui-sref="ourteam">Our Team</a></li>
                        <li><a ui-sref="ourprogrammes">Our Programmes</a></li>
                        <li class="hidden-xs logo-main">
                            <a ui-sref="home"><img src="img/sec1/name1.png" alt="" class="img-responsive"></a>
                        </li>
                       <li><a ui-sref="ourapproach">Our Approach</a></li>
                        <li><a ui-sref="gallery">Gallery</a></li>
                        <li><a ui-sref="contactus">Contact Us</a></li>
                    </ul>
                    <div class="social display-inline">
                        <a href="https://www.facebook.com/weaverspreschool/?fref=ts" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>                   
                          </a>
                        <!--<a href="https://instagram.com/intent/instagram?url=http://wohlig.com" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>                      
                          </a>
                        <a href="https://youtube.com/intent/youtube?url=http://wohlig.com" target="_blank">
                         <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="curve">

        </div>
    </nav>

</header>
<!-- <div class="a" />
<ul class="menu">
    <li><a ui-sref="ourstory">Our Story</a></li>
    <li><a ui-sref="ourteam">Our Team</a></li>
    <li><a ui-sref="ourprogrammes">Our Programmes</a></li>
    <li>
        <a ui-sref="home"><img src="img/sec1/name1.png" alt="" class="img-responsive"></a>
    </li>
    <li><a ui-sref="environment">Environment</a></li>
    <li><a ui-sref="gallery">Gallery</a></li>
    <li><a ui-sref="contactus">Contact Us</a></li>
</ul>
</div> -->
